[2017-10-28 16:32] Lednerb opened #1 "i18n support"

[2017-10-28 16:33] Lednerb opened #2 "featured image support"

[2017-10-28 18:42] Lednerb opened #3 "date format"
part of #1

[2017-10-28 18:56] Lednerb opened #4 "disqus support"

[2017-10-28 20:26] #4 closed, assigned to nobody

[2017-10-28 21:29] #1 closed, assigned to Lednerb

[2017-10-28 22:02] #3 closed, assigned to nobody

[2017-10-29 22:02] Lednerb opened #5 "standard entries for the theme"
Don't forget the patreon hint.

[2017-10-29 22:03] Lednerb opened #6 "readme tutorial"

[2017-10-29 22:08] #2 closed, assigned to Lednerb

[2017-10-30 01:49] Lednerb opened #7 "404 template"

[2017-10-30 12:09] Lednerb opened #8 "gallery post type"

[2017-10-31 21:54] #8 closed, assigned to nobody

[2017-10-31 22:38] Lednerb opened #9 "better scss variable config"
- link color
- special-article-color --> special color

[2017-10-31 23:13] #7 closed, assigned to Lednerb

[2017-11-01 02:00] Lednerb opened #10 "Fix webpack without tmp folder"
At the moment a unversiond `src/tmp` folder is needed because of this laravel-mix error https://github.com/JeffreyWay/laravel-mix/issues/1228

[2017-11-01 02:50] Lednerb opened #11 "remove cdns"
maybe its better to include all resources in the main .js and .css files.

[2017-11-01 02:53] #10 closed, assigned to Lednerb

[2017-11-01 19:11] Lednerb opened #12 "i18n continue reading"

[2017-11-01 21:26] #5 closed, assigned to Lednerb

[2017-11-01 21:28] Lednerb opened #13 "gh-pages site as preview"

[2017-11-01 21:36] #12 closed, assigned to Lednerb

[2017-11-01 21:39] Lednerb opened #14 "optimize meta keywords for gh-pages"

[2017-11-01 22:02] #13 closed, assigned to nobody

[2017-11-04 16:44] #14 closed, assigned to Lednerb

[2017-11-04 16:53] #11 closed, assigned to nobody

[2017-11-04 20:27] Lednerb commented on #6
Done

[2017-11-04 20:27] #6 closed

[2017-11-05 12:48] razzok opened #15 "Typo Wounderfull"
You know what i mean. :D

[2017-11-05 12:49] razzok opened #16 "Feature Show Top Nav Option"
Option to show nav permanently.

[2017-11-05 16:07] Lednerb opened #17 "Improve setup"
Remove the need to delete the default archetype by overwriting it.

[2017-11-05 21:28] Lednerb commented on #15
Already fixed? Please recheck new version...

[2017-11-05 21:28] #17 closed

[2017-11-05 21:40] Lednerb commented on #15
Found and fixed.

[2017-11-05 21:40] #15 closed

[2017-11-05 23:25] Lednerb opened #18 "update downloads badge"
The badge does not work at the moment because the git clones are not accessible for shields.io.

I have to set up my own shields-like API tool for that purpose.

Also, the clones are only accessible for 14 days, so maybe I'll  create my own little API with a database to save the clones.

[2017-11-07 15:23] #18 closed

[2017-11-08 20:50] Lednerb commented on #16
Closed by #21

[2017-11-08 20:50] #16 closed

[2017-11-10 20:56] nisargap opened #23 "Failed to add template "theme/_default/list.html" in path"
[code]
Running into this situation where I can't run the theme because the `fileExists` function is not defined
`go version`
[code]

[2017-11-10 21:05] nisargap commented on #23
Nevermind upgrading to the newest version of Hugo solved this issue

[2017-11-10 21:05] #23 closed

[2017-11-11 09:03] Lednerb opened #24 "Multi-language support"
I want to implement the support for 2 or more different languages so you can write your post in DE, EN, RU, whatever and get a language chooser for this specific post.

Advantage:
- you don't have to translate all of your posts
- you can write some posts in your mother language and maybe in English to share the article with the whole world
- thanks to the i18n support the website should be transla

[2017-11-11 09:04] Lednerb opened #25 "Update readme for #16"
The features section should list the permanentTopNav option.

[2017-11-12 09:50] Lednerb opened #26 "Make changing the theme dir name possible"
There are problems when you want to change the theme's directory name.

Caused by https://github.com/Lednerb/bilberry-hugo-theme/blob/master/layouts/_default/list.html#L5

Maybe I can improve this so the correct folder is dynamically included.

[2017-11-12 10:04] Lednerb opened #27 "improve code"
From the gohugo docs:

[code]

[2017-11-12 10:28] Lednerb commented on #26
@Lednerb change this files accordingly too:
https://github.com/Lednerb/bilberry-hugo-theme/blob/master/layouts/index.html#L5
https://github.com/Lednerb/bilberry-hugo-theme/blob/master/layouts/_default/single.html#L4

[2017-11-12 13:55] tivasyk opened #28 "Make font change possible and document it in README.md"
The font by default is beautiful, but lacks Cyrillic support. I tried to something different from Google Fonts, found at least 3 CSS files with font specification, nothing seems to work, I end up with the local DejaVu on my screen.

[2017-11-12 17:01] tivasyk opened #29 "Make it possible to fix the site header when scrolling"
An option somewhere in config.toml or CSS to fix the site header to prevent it from scrolling would be great.

[2017-11-13 08:11] Lednerb commented on #29
When does the header scroll?
Do you mean vertically or horizontally?

On which device (dimensions) does the scrolling occur?

[2017-11-13 08:17] Lednerb commented on #28
Related to #9

[2017-11-13 08:37] Lednerb opened #30 "Update docs for custom post types."
A short tutorial on how to create custom post types (for example: books, people, ...)

[2017-11-13 08:53] Lednerb commented on #26
Awaiting response in the official forum:
https://discourse.gohugo.io/t/get-the-actual-theme-variable/9204

[2017-11-13 11:44] #25 closed

[2017-11-13 12:03] #30 closed

[2017-11-13 12:59] Lednerb commented on #27
Not usable with this theme because of the `page` post type.
Every `range` is solved with a customized routine, and the shortcode could not be used.

[2017-11-13 12:59] #27 closed

[2017-11-13 13:28] tivasyk commented on #29
there's no error here, it's just a request for en improvement.

when the page is scrolled vertically; the header scrolls vertically with the page which is a normal behaviour.

eny device (well, i only checked on a notebook (2048x) and a smartphone (720x).

it would be great to have an option though to fix the header in place and not scroll it with the rest of the contents.

[2017-11-16 13:59] #9 closed

[2017-11-16 14:11] Lednerb commented on #28
Hello, my friend!

As you can see I've implemented an easier customization and the corresponding documentation in the [README.md](https://github.com/Lednerb/bilberry-hugo-theme#custom-colors-and-fonts).

Please let me know if everything works fine for you.

If you have a bit free time, you can fork this repository, implement a Ukrainian language file in the `i18n` folder and send me a Pull Request

[2017-11-16 14:11] #28 closed

[2017-11-17 11:26] Lednerb commented on #29
Now I thought about this option a lot ...

I don't think that this would be a feature the most users would ask for, and I would never use this because I love the integrated algolia search and for me, the `page`s are not very important (just an _Impress_ or _Contact me_ page). When using the algolia search, the space for pages is very limited.

So I think I would not implement this in the theme dir

[2017-11-17 11:34] Lednerb commented on #26
@tivasyk

It seems that there is no elegant possibility to archive this today,
It would be possible to change the way the post types are included, but this requires some work and maybe cause other problems.

So at the moment, the easiest way would be not to change the directory name.
If there is any news on this topic, I will update this issue.

[2017-11-17 11:34] #26 closed

[2017-11-22 02:55] magiconair opened #35 "gallery breaks when theme directory is renamed"
When I import the theme as `bilberry` and not as `bilberry-hugo-theme` the `gallery` type does not render the images.

[2017-11-22 09:05] Lednerb commented on #35
Hello, yeah this is a known issue at the moment...
I've hardcoded the directory name at some places for a more comfortable `content-type` check.

Have a look at #26.

We have three options:
1. We don't change the directory name (Why is this important for you?)
2. The Hugo developers provide the `theme` config as a `.Site` variable (unlikely to happen...)
3. We change the post type import routine a

[2017-11-22 09:06] #35 closed

[2017-11-22 09:21] magiconair commented on #35
This isn't important to me but this is a hidden surprise which took me a while to figure out. I've followed the hugo tutorial which stripped the `-hugo-theme` suffix from the theme directory and that gave me the impression that the directory name doesn't matter. I didn't notice the warning you have in the README. Maybe you can move it into the code section as follows or make it more visible.

[cod

[2017-11-22 10:26] Lednerb commented on #35
I've implemented the hint.
THX for the suggestion!

[2017-11-27 01:46] ChrisStayte opened #37 "Missing favicon"

[2017-11-28 11:24] #37 closed

[2017-11-28 11:26] Lednerb commented on #37
You can change the favicons by overwriting them in your site's `static` folder.
Please check the `exampleSite/static` folder for the filenames.

[2017-11-28 16:36] Lednerb opened #39 "MultiLang Algolia Search"
In reference to #24 I have to check how the algolia search will work in a multi-language environment.

First idea:
Different search indices for every language.

Problem:
Different index json files have to be generated.

[2017-11-28 16:37] Lednerb opened #40 "MultiLang languge chooser in header"
In reference to #24 should there be a language chooser in the header or only in the article footer of translated articles?

[2017-11-28 17:14] Lednerb opened #41 "Language Chooser in footer"
Implement "Available Languages" underneath the "Social Media" Part of the footer.

Regarding to #24

[2017-11-29 15:36] #41 closed

[2017-11-29 15:39] Lednerb commented on #40
At the moment I think it's enough to display the language chooser on the article-footer and in the site's footer.

The top nav should be as clean and minimalistic as possible.

[2017-11-29 17:31] Lednerb commented on #39
The better approach: Set a `language` key so I can filter this via the actual language.

### Document the new algolia settings before publishing version 2.0.0

[2017-11-29 17:40] Lednerb opened #42 "Algolia Search Option: Search all languages"
Implement a config option so the user can decide, if the posts in different languages can be searched or only the current language ones are used.

Related to #24 and #39

[2017-11-30 02:41] rabarar opened #43 "Automatic algolia index update by golang cli app"
I wrote a quick algolia API to take the index.json file and update the algolia account. If anyone's interested, I can create a quick public repo and leave a link. I use this in my production push when I add content to my blog.

[2017-11-30 02:44] rabarar opened #44 "Featured Image: Size and Alt-Attribute"
it would be nice to add parameters to the `featuredImage` so that the size could be established rather than expand the image to the full-size of the article div container (and it might be nice to add an alt parameter too if you add width and height).

[2017-11-30 10:52] Lednerb commented on #43
Hey, cool!

Can this CLI app be used for the complete setup or just for updating the index?
Does it copy the generated `public/index.json` to the account or does it generate the index on its own?

[2017-11-30 11:13] Lednerb commented on #40
No, I will add this and provide an option in the `config.toml`, so the users can decide by their self.

[2017-11-30 13:18] rabarar commented on #43
Once you have an account, the cli updates the index by passing in the login credentials, index name, and json file as command-line parameters.

[2017-11-30 14:36] Lednerb commented on #43
Okay, I've thought about this option for a while now...

Your go cli program runs without any dependencies?
What do you think about optimizing it, so that the program ships within the bilberry exampleSite, so it gets copied to the hugo project directory.

From that place, it could read the `config.toml` file for the algolia keys?
So maybe we can integrate this as simple as `./update-algolia` or so

[2017-11-30 15:35] #42 closed

[2017-11-30 15:35] #39 closed

[2017-11-30 15:45] rabarar commented on #43
@Lednerb the only dependency is the "github.com/algolia/algoliasearch-client-go/algoliasearch" to access the algolia API.  We can definitely add it to the example site. I've wrapped it with shell script that parses the config.toml file and extracts the algolia info. The only user-supplied info required is the algolia private key. Because all of the keys aren't self-contained in the config.toml, ma

[2017-11-30 15:56] Dehong1 commented on #24
If it includes Chinese,that will be great!

[2017-11-30 15:57] Lednerb commented on #43
@rabarar

You don't need the `index` or `app_id` infos?

Is there a possibility to ship a pre-built update tool that reads the `config.toml` by itself?
Hugo is so cool because it's only one binary file that does all the _magic_.
I'd like to aware the users of self-building the updater, installing golang and needed dependencies.

[2017-11-30 16:01] Lednerb commented on #24
@Dehong1
I will implement in a way, that every language can be used with the theme.

However, the theme would need a Chinese translation file for the static text.

Maybe you can submit a Chinese translation file for the `i18n` folder?

[2017-11-30 16:49] #40 closed

[2017-11-30 16:50] Lednerb opened #45 "Implement some multi-language content sites"
That's important for the demo site as well as the `exampleSite` dir to give an example of how to setup and integrate the the translated content.

Related to #24.

[2017-11-30 16:55] Lednerb opened #46 "Improve readme to explain how to change the 404 site"
The 404 site is a static HTML site.

It can be copied to the users `static/404.html` folder...

What about to make the 404 translatable? Related to #24

[2017-11-30 17:01] Lednerb commented on #44
How would you use this?

I mean, for example, if you use an image in portrait mode, etc. ?
Then it would not fill out the full width of the post container but be centered?
Can you provide me a screenshot or a scribble for a better understanding?

In my opinion, these parameters would complicate the cool ease-of-use and won't be used by the majority of the users.

------
However, the `alt` attribut

[2017-12-01 19:25] #45 closed

[2017-12-02 15:52] rabarar commented on #44
take a look at this link https://cyberspy.io/code/gogo/ - notices how big the image is when the actual image is much smaller and is being resized to the width of the container. Rather than blow it out, centering it at the original size would look better IMHO

[2017-12-03 20:44] aerohub opened #50 "Wrong language code in filename"
Hello, @Lednerb ! There is a wrong language code in use: https://github.com/Lednerb/bilberry-hugo-theme/blob/master/i18n/uk.yaml

**UK** is an abbreviation for United Kingdom
**UA** is a language code for Ukrainian

Cheers

[2017-12-03 22:37] aerohub commented on #50
I am sorry, @Lednerb , I am wrong. **UK** is right code.

[2017-12-03 22:37] #50 closed

[2017-12-04 01:43] rabarar opened #51 "Add Reading Time to content header"
Modify `layout/partials/default-content` adding
[code]

adding the reading time inline with the article date, categories, author line...

[2017-12-04 10:29] Lednerb commented on #50
Hi @aerohub, yeah my girlfriend and I were also surprised and had to search for it on the internet...

[2017-12-05 14:35] taivu commented on #43
Not saying we should ditch algoria, but has Lunr been considered? https://lunrjs.com/ ive seen it implemented in another hugo theme, where Hugo is also generating JSON alongside with html, and the JSON is hooked up with Lunr for searching.

[2017-12-09 07:54] aerohub commented on #24
It would be great to make error 404 article text customizable within either config or translation files.

[2017-12-16 11:09] cripplet opened #52 "Inject custom CSS / JS import files via config file"
See https://discourse.gohugo.io/t/how-to-override-css-classes-with-hugo/3033/4.

This allows for much finer-grain control for the user that doesn't involve overriding an entire template file for a small amount of imports.

[2017-12-16 12:55] cripplet opened #53 "Theme does not respect date format strings"
Per, https://github.com/Lednerb/bilberry-hugo-theme/blob/master/layouts/partials/default-content.html#L4, post date formats should be YYYY-MM-DD; however, we see in the preview / demo, actual format differs; refreshing really fast looks like the date is altered after loading -- perhaps in JS or CSS.

Is this intended behavior?

![capture](https://user-images.githubusercontent.com/3048682/34070576-

[2017-12-16 22:22] cripplet commented on #52
Adding PR against master -- looks like the dev branch is behind master.

[2017-12-19 05:58] cripplet commented on #44
Re. image resize -- this seems like a JS / CSS trick, not necessarily an issue of layout (by using JS to query the image size and setting max-width / height on the image element).

@rabarar re. alt-text, that seems like a simple change that would be easy to create a PR for -- you'll need to alter https://github.com/Lednerb/bilberry-hugo-theme/blob/master/layouts/partials/featured-image.html to add

[2017-12-19 06:10] cripplet commented on #53
Looks like https://github.com/Lednerb/bilberry-hugo-theme/blob/ec54f18c630bc2c6a430c858ebf94f9b886a59ff/layouts/_default/baseof.html#L46 is responsible. Maybe this should be an optional thing instead?

[2017-12-19 09:24] cripplet opened #55 "Mobile view limits displayed content"
When viewed in mobile (iPhone SE), I am getting an exceedingly narrow content box --

![capture](https://user-images.githubusercontent.com/3048682/34149436-e7f58a98-e459-11e7-8c6d-165b9fcee555.PNG)

However, if we were to adjust

1. `div class="main container"` (matching `div.container`) `padding` to 0, and
1. `article class="default article"` (matching `article`) `margin` to 0, we get

![capture]

[2017-12-19 12:02] davideriboli opened #56 "Config Logo RollOver"
Hi Sascha,

I've found the config param to set the logo to a gravatar or a custom image, but I can't find a way to change the green home icon that appears on rollover.

Can you point me in the right direction?

I think it could be useful to have a param in config to set the rollover image and another one to set rollover Yes/No.

[2017-12-19 12:45] Lednerb commented on #56
Hi Davide,

at the moment the hover icon is hard-coded here: https://github.com/Lednerb/bilberry-hugo-theme/blob/master/layouts/partials/header.html#L11

You can change the overlay icon with any other [Font Awesome icon](http://fontawesome.io/icons/) by changing the class of the `<i>` element or put your custom icon / image, etc. in the `<span>` element.

I will think about an option to implement

[2017-12-19 12:50] Lednerb commented on #44
In the next days, I will have more time to work on the open issues and implement the `alt` attribute.

At the moment I think the resizing as @cripplet can be implemented but I would prefer that the users create an image for the max-width so the article is covered by a high-quality image (also think about the HDPI-screen and/or retina display users).

If you invest your time in an article, it's fea

[2017-12-19 12:55] rabarar commented on #44
Setting the image width and height didn't work for me when I modified the layout to do so. It only resampled the smaller image

[2017-12-19 12:57] Lednerb commented on #53
Hey @cripplet and thank you for your contributions!

It was my intention to have the date always translated into the actual language.
The `moment` library changes the date according to the language-format (_November 1, 2017_ for English, _1. November 2017_ in German for example).

Maybe we can add a config variable for `enable_date_translation` or something like this to disable this behavior if th

[2017-12-19 13:03] Lednerb commented on #44
@rabarar The resizing to the full-width would always result in a low quality and stretched image.

The best way IMHO is to create a `700px`-width image that matches your expectations.

(Create the image, in your example, maybe a 700x100 px white-image and place the Gopher icon in the center, save it and use it for your article.)

[2017-12-19 13:11] Lednerb commented on #43
@rabarar any news on this yet?

[2017-12-19 13:14] rabarar commented on #43
I ran into free-usage limits with algolia, but I'll add a repo of what I wrote and send you a link in case others find the service useful.

[2017-12-20 01:39] rabarar commented on #43
Here’s the repo I added with the code:

https://github.com/rabarar/hugo-algolia <https://github.com/rabarar/hugo-algolia>

[2017-12-20 04:32] cripplet commented on #53
My particular issue with this was that you could see the flicker between loading and render, which is sort of irksome -- I would personally prefer this being pre-rendered during the compilation step.

I wonder if it's possible to leverage just https://gohugo.io/functions/format/, based on a language switch. It looks like Hugo doesn't support auto-localization formatting yet -- were you looking to

[2017-12-20 04:45] cripplet commented on #55
ATM it looks like just changing the corresponding rules in https://github.com/Lednerb/bilberry-hugo-theme/blob/master/src/scss/_responsive.scss; will play around with this.

[2017-12-21 10:05] #52 closed

[2017-12-21 10:35] Lednerb commented on #53
Yeah, the flicking is a problem...
Maybe we can prevent this behavior by loading the `moment.js` library earlier...

At the moment Hugo has no built-in support for different languages (Month names).
I've decided to use `moment.js` to avoid the effort for updating and translating the month names for every language and have a large if-else switch for the date formats.

I'm open to any tips and solut

[2017-12-23 19:12] #55 closed

[2017-12-30 10:23] AshleyByeUK opened #58 "Set footer copyright"
It'd be great if there was a config option to set the footer's copyright text (and perhaps also link to the base URL) via the configuration.

I am currently editing the footer partial to display copyright by me (and set the link to the site base URL, opening in the same window), and amending the theme attribution to 'Bilberry Hugo Theme by Lednerb'. However, for each update I have to remember to r

[2017-12-30 17:58] AshleyByeUK opened #59 "Pages for tags and categories"
Is it possible to include template pages for viewing all the tags and categories? At the moment, if I go to `https://mysite.com/tags` for example, my server throws a 403, yet I would expect that to be a valid resource.

[2017-12-30 19:01] AshleyByeUK opened #60 "Exclude page from top nav"
Given the way this theme is configured, I can't specify if I don't want a page to be a menu item. Could this feature be added?

For example, I have a page that has some privacy policy details, which I don't want to appear in the top nav. This should go in the footer - could you add a footer nav option for pages too?

[2018-01-02 10:16] Lednerb commented on #24
See #46 for the 404 site.

[2018-01-02 10:16] Lednerb commented on #46
Part of #24

[2018-01-30 08:29] indmind opened #61 "Article, gallery, video... not generated"
Hi, I am new to Hugo, when I run using `hugo server -D` it works perfectly, but if I generate using `hugo -t bilberry-hugo-theme`  command,  articles are not showing up. <https://indmind.github.io/blog/>.
source code: https://github.com/indmind/blog
 thanks

[2018-01-30 09:18] Lednerb commented on #61
Hey @indmind

it seems in your source code that you have the `draft: true` flag active.

`hugo server -D` spins up a local server and the `-D` flag is for rendering the drafts. Just delete the `draft: true` lines (or change them to `draft: false`) in the content files and run `hugo` to generate the `public` folder with every site rendered in a ready to upload version.

[2018-01-30 09:39] indmind commented on #61
oh, thanks. after removing all `draft: true` it works!

[2018-01-30 09:39] #61 closed

[2018-02-13 10:33] lebarde opened #62 "Algolia add record: too big"
Hello,
Thank you for this very good theme!

I am using it on [garamond.fr](http://garamond.fr). I posted a short story (1900 words). Algolia claims for a too big record.

What could I do? Maybe we should cut the json record?

Thank you by advance.

[2018-02-27 03:36] thieunv90 opened #63 "Does this theme supports Google Analytics?"
I've just taken a look at this theme, this is awesome and I wanna use it. But I have a question, does this theme supports Google Analytics or not?

[2018-03-01 18:33] Lednerb commented on #63
Hi,

the theme supports google analytics.
Just add your tracking id here in your site's `config.toml`:
https://github.com/Lednerb/bilberry-hugo-theme/blob/master/exampleSite/config.toml#L10-L11

Google Analytics is supported by hugo as a default, so the theme doesn't change anything on the original hugo implementation:
https://gohugo.io/templates/internal/#google-analytics

[2018-03-01 18:33] #63 closed

[2018-03-01 19:09] Lednerb commented on #62
Hi @lebarde
please excuse me for my late reply...

Nice website!
I've found this FAQ: https://www.algolia.com/doc/faq/basics/is-there-a-size-limit-for-my-index-records/

So maybe we can modify the json so not the whole article but only the first 300 or 500 words are used?

[2018-03-10 07:31] Suremotoo opened #64 "about topnav"
i can't change the topnav ? please help me .☹️

[2018-03-11 17:06] Lednerb commented on #64
What's the problem? You can adjust the visibility via the theme's config file.
To add or remove the menu items adjust the `page` post types contents:

https://github.com/Lednerb/bilberry-hugo-theme#pages-and-external-links

[2018-03-12 01:30] Suremotoo commented on #64
OK. got it ! thanks!
i love this theme , just like you.😅😉

[2018-03-12 06:33] #64 closed

[2018-03-20 12:15] paskal opened #65 "Won't able to render blog"
Hello!

$subj, when trying to run this theme against my [blog](https://github.com/paskal/terrty/tree/master/blog) source I get following:

[code]

The reason may be some absent `.Site.` parameter or something else but you can't tell it from error messages.

[2018-03-24 20:14] paskal commented on #65
https://github.com/hivickylai/hugo-theme-sam/pull/3 is an example of how this can be fixed.

[2018-04-29 04:52] Suremotoo opened #68 "it do not load CSS and Js"
preview it's work and better,but generate public dir,index.html it's wrong.

[2018-05-04 17:20] Lednerb opened #69 "Footer Category for static pages"
Implement an option for a footer category like @chclaus implemented it on https://chclaus.de

Edit: Section "Informationen"

[2018-05-04 18:12] Lednerb opened #70 "Change Ukraine Language from UK to UA"

[2018-05-04 19:32] #70 closed

[2018-05-04 19:42] Lednerb commented on #62
For the moment I will remove the `content` complete because it does not make much sense to search through novels or tutorials itself.

For searching, there is the author, the title, the tags and the categories. This solution should be convenient and effective.

[2018-05-04 19:45] #62 closed

[2018-05-04 19:50] Lednerb commented on #24
In the next days the version 2.0.0 will be published :tada:

I'm actually working on it, 80% is done.

@Dehong1 if you want to contribute a Chinese translation, feel free to submit them either here or per PR in as the other translation files like:

https://github.com/Lednerb/bilberry-hugo-theme/tree/feature-multiLangSupport-%2324/i18n

[2018-05-05 19:17] #60 closed

[2018-05-05 20:19] Lednerb opened #72 "Links are dead on gh-pages"
There are some absolute links via `/` instead of using the `.Site.BaseURL`.

[2018-05-05 20:27] #72 closed

[2018-05-15 12:26] boydkelly opened #77 "Couple questions"
Nice theme!
Sorry for the newbie questions.  But I'm looking for a simple multilingual site with 2 or 3 pages, but not at least for now will not be a blog.

I can't see how to get the/a language selector to appear either in the header or footer.

Will it be possible to get a home landing page that does not contain 'blog posts'?  And then in time have a menu item to go to the "blog"?

Is it possibl

[2018-05-15 12:42] Lednerb commented on #77
Hi @boydkelly

The multi-language version will be published in the next days. See #48 for more information.
There is also a language chooser implemented, but not published in the `master` branch yet.

A special landing page is not planned at the moment. However you could set up a server redirect to a specific `page` post type that's acts like your landing page (for example an about page: https://l

[2018-05-15 15:06] boydkelly opened #78 "Feature request simple page with no commenting"
I believe a win-win for bilbery theme would be to include a page type/layout (sorry i'm new so excuse any terminology errors!) that would display a page with no discus comment options, no date, and not include the categories and tags from the page bottom.  (The social links could stay) This could allow bilbery theme the flexibility to use for a small business or organization that does not use a bl

[2018-05-16 07:39] #77 closed

[2018-05-23 10:18] boydkelly opened #80 "Space problem on main menu"
Thanks for great theme.  I am using the multiLang branch for the time being and I really like the language switcher on the top navbar.

Just one issue/request:  I have disabled the search feature, but my four menu items in French wrap on the left side even though there is more than sufficient space across the nav bar without search.  Can the space available for menu items be increased when the sea

[2018-06-11 17:46] #58 closed

[2018-06-11 17:50] Lednerb commented on #80
Related to #48

[2018-06-11 17:51] Lednerb commented on #68
Can you please provide more details on this?
Does the error still occur?

Do you use the latest version of Hugo and the theme?

[2018-06-12 02:54] Suremotoo commented on #68
hugo --baseUrl=" ****** "  ，Check whether your URL is correct

[2018-06-15 16:02] anhchungite opened #87 "Images in the content folder not used automatically with type Gallery"
My structure:
--| content
--|--| gallery
--|--|--| my-trip-to-scotland
--|--|--|--| index.md
--|--|--|--| scotland1.jpg
--|--|--|--| scotland2.jpg
--|--|--|--| scotland3.jpg

[2018-06-16 04:46] Lednerb commented on #87
As described on the release page: "the next version will support... "

Maybe shipping today ;)
I will include the multi language feature that breaks some older versions, that's the reason why the information is set in the "Deprecated" section, but maybe this was not clear enough...

[2018-06-16 11:47] Lednerb opened #88 "Feature Customize Footer Amount Latest Posts"
`config.toml`
[code]

`footer.html`
[code]

[2018-06-16 12:12] #24 closed

[2018-06-16 13:43] #80 closed

[2018-06-16 13:55] Lednerb commented on #46
Making this translatable is not possible because this is a static site that will be loaded by the web server if any file was not found (an error 404 occurred).

The link will be `example.com/404.html` and that does not contain any language string.

Hugo generates a static site so there is no easy implementation for server-side or JS-based translations.

--------

Anyhow, the readme should be updat

[2018-06-16 14:16] #46 closed

[2018-06-16 16:18] #59 closed

[2018-06-16 16:19] #68 closed

[2018-06-16 17:22] #65 closed

[2018-06-16 17:30] Lednerb commented on #87
Release is ready and will be published tomorrow.

[2018-06-17 20:34] Lednerb opened #90 "Update Algolia Multi-Language index description"
Not only public/index.json but also public/{langCode}/index.json ...

[2018-06-19 19:38] paris-ci opened #91 "Choose order of pages in navbar"
Hello!

Thanks for the gorgeous theme. One little question, I'd like to change the order of pages in the navbar... Would it be possible to do this using a parameter in the front matter (similar to weight on language). I belive it would be needed to modify the theme near [this](https://github.com/Lednerb/bilberry-hugo-theme/blob/0dedc9e0be4931920f6f24167026f24b9bdf4382/layouts/partials/topnav.html#

[2018-06-19 20:44] Lednerb commented on #91
Hi and thank you for your message!

As a quick workaround you should be able to simply modify the published date to order your pages.

But I will consider to even document this in the Readme or implement a sorting mechanism.

Please let me know if this worked for you :)

[2018-06-19 20:59] paris-ci commented on #91
Hi @Lednerb, thanks for the quick reply!

So, I tried to set the dates to `200X-01-00T00:00:00+00:00`, where `X` is the page weight, and the sort dosen't seem to be applied.

Sounds like the pages are still sorted alphabetically :(.

Again, thanks for your theme, and for the real good work you do here, maintaining an open-source projet can be difficult.

Thanks!

[2018-06-19 21:01] paris-ci commented on #91
Just as a quick note there, if you do need some help with the README, I can try to help and submit a PR.

[2018-06-20 09:07] anhchungite opened #93 "Current fonts is not supported for Unicode character"
Use of **Lato** fonts and **Raleway** is not supported for some Unicode characters.
![capture](https://user-images.githubusercontent.com/28822504/41648193-701f37ce-74a2-11e8-9277-a3463acfb63d.PNG)
I propose using a font that supports Unicode characters such as **Open Sans** or **Roboto**.
https://fonts.google.com/specimen/Open+Sans
https://fonts.google.com/specimen/Roboto

I know that it is possib

[2018-06-20 15:38] Lednerb commented on #93
Closed by de09643

[2018-06-20 15:38] #93 closed

[2018-06-20 15:40] Lednerb commented on #91
Closed by e714576

You can now sort your pages via the `weight:` attribute in the page's front matter.

[2018-06-20 15:40] #91 closed

[2018-06-20 17:20] Embraser01 opened #95 "Adblock hide social media class"
Hi,

I discovered (after some time :cry:) that adblock was setting a `display: none !important` on a lot of element.

The `social-media` is one of them.

Also, I found this gist: https://gist.github.com/spyesx/42fe84c0ef757d1c38a4
which list all css class name we should stop using.

Is-it possible to rename every css class concerned by this thing?

[2018-06-20 17:42] Embraser01 opened #96 "Custom image not rendered"
When I try to set customImage, it continue to use the gravatar image.

The reason is the `isset` function used here:

https://github.com/Lednerb/bilberry-hugo-theme/blob/fee4b5dbe7d78e9ebf8cf908ef4c5b384eb58273/layouts/partials/header.html#L4-L9

The parameter should be in lowercase as stated by the [doc](https://gohugo.io/functions/isset/).

It should be changed everywhere the isset function is u

[2018-06-20 20:20] Lednerb commented on #95
Hi and thank you for the hint.

I didn't thought about that but in the first moment now I think this is an adblock related problem...

Sure adblock is widely used and so it will affect the users of this theme...

Maybe we can implement a hint to better use uBlock origin that does imho a better job at all...

------

On the other side, maybe this should be the aspected behavior? If I'm using adbloc

[2018-06-20 20:51] Embraser01 commented on #95
For me it is intended to hide sharing links, not to hide links to specific profiles. If I go to a website of someone, I expect to see his social networks (I only use Github & LinkedIn)...

I don't really like the idea of having any adblocker related message on my website which does not contain any ad.

As I see, Adblock will hide some font awesome icon, but not all of them:
[code]

I think we coul

[2018-06-21 16:38] #96 closed

[2018-06-21 16:47] Lednerb commented on #95
I absolutely confirm this. This kind of messages are annoying, and personally, I've just enabled a filter list for uBlock origin to block the dim-witted Cookie messages that ask for consent as part of the EU laws.

-------------

Sure we should do this, `social-media` is even not correct at all...
We can also add classes for the blocked ones, maybe `.adblock-proof-fa-facebook`, etc. for the blocke

[2018-06-22 15:00] Lednerb commented on #88
Part of #78

[2018-06-22 16:22] Lednerb commented on #78
Implemented all features here.

Everything is optional and there is even a `showFooter` option since 538afc9

You can even decide which columns in the footer you want to use.

[2018-06-22 16:22] #78 closed

[2018-06-22 16:22] #88 closed

[2018-06-22 16:46] Lednerb commented on #95
Implemented a fix. Will be released in Version 1.8.0

[2018-06-22 16:46] #95 closed

[2018-06-22 17:21] boydkelly commented on #78
awesome!

[2018-07-05 19:02] chibikun opened #100 "Page Type and Multi Language"
Dear Lednerb, great theme, great multilanguage features now! Awesome , thanks!

I have now started to use the latest version but have an issue understanding multilingual implementation:

In the former single language version I created pages to have kind of a shortcut to specific content types that I created, means the top nav would have the content type as name and then the URL as parameter which

[2018-07-08 09:55] Lednerb commented on #100
Hi David,
can you please provide a short snippet of your code changes?

Do you use the `relLangURL` function to create the links?

[2018-07-08 11:07] chibikun commented on #100
Hi Sascha,

no code changes done. Just missed out to use the relLangURL parameter instead of plain url in the page types front matter.

Solved! Thanks a lot!!

David

[2018-07-08 12:20] #100 closed

[2018-08-02 13:19] Lednerb commented on #56
Now possible via hugo pipelines and an optimized scss variables file. Maybe configurable via the main `config.toml` file.

Working on it...

[2018-08-02 13:20] Lednerb opened #102 "Upgrade to hugo pipelines for SCSS"

[2018-08-09 12:28] gigovich opened #103 "Custom avatar relative path"
Hi Sascha,

If we use multi lingual setup, custom avatar is not visible on a content page.

[2018-08-09 13:58] #103 closed

[2018-08-16 13:42] Lednerb opened #105 "Disable Patreon / Enable Discord"

[2018-08-16 15:47] Lednerb commented on #105
Done by 4a2d8fec875e2bb26494841a3e87d2446d31e8f0

[2018-08-16 15:47] #105 closed

[2018-08-26 02:30] AgennyBrof opened #107 "Translations"
I‘v add Chinese(simplified) on poeditor

[2018-08-26 09:59] Lednerb commented on #107
Thank you for your contribution!

Merged the Chinese translations to `master`.

[2018-08-26 09:59] #107 closed

[2018-08-31 09:46] ihelwn opened #108 "Render incorrect task list"
test.md file source
<img width="197" alt="screen shot 2018-08-31 at 18 40 58" src="https://user-images.githubusercontent.com/42862130/44905589-7877bc00-ad4d-11e8-99ce-d350dc1e4d45.png">

result screen
<img width="198" alt="screen shot 2018-08-31 at 18 41 09" src="https://user-images.githubusercontent.com/42862130/44905592-7ada1600-ad4d-11e8-9576-7ac5065189dc.png">

Task list item exists on new lin

[2018-09-04 01:04] Djas2017 opened #109 "categories and tags page listings are blank (empty)"
I am testing the theme for the first time (which is great! good job).
I have added some posts but when I click on the category names and tags, this gives me a blank page.

I see in your demo https://lednerb.github.io/bilberry-hugo-theme/categories/ that this works!

Did I miss something to get that working (any special configuration?)

Thanks

[2018-09-07 14:03] Lednerb commented on #109
Hi, what version have you installed?

Is this configuration in your `config.toml` file?
https://github.com/Lednerb/bilberry-hugo-theme/blob/master/exampleSite/config.toml#L115

[2018-09-08 00:59] Djas2017 commented on #109
Hi,

Hugo version: v0.48

`$ hugo env
Hugo Static Site Generator v0.48/extended darwin/amd64 BuildDate: unknown
GOVERSION="go1.11"`

Yes, the configuration file is the one you have mentioned  https://github.com/Lednerb/bilberry-hugo-theme/blob/master/exampleSite/config.toml#L115
`# don't change anything below
[taxonomies]
  author   = "author"
  tag      = "tags"
  category = "categories"`

[2018-09-08 07:35] Lednerb commented on #109
Thanks,

I've just reinstalled the theme on my local machine and it's working without any problems.

Do you have different config files like `.yaml` and `.toml` side by side?

Did you follow the [Quick start](https://github.com/Lednerb/bilberry-hugo-theme#quick-start) instructions?

[2018-09-08 10:00] Lednerb commented on #53
I will implement configuration options to customize the date output.

[2018-09-08 11:59] Lednerb commented on #51
Implemented it. Next release will have a config option to enable or disable the reading time output.

[2018-09-08 11:59] #51 closed

[2018-09-08 12:00] Lednerb commented on #108
Fixed it.  Check out the next release.

[2018-09-08 12:00] #108 closed

[2018-09-08 12:00] Lednerb commented on #102
Done

[2018-09-08 12:00] #102 closed

[2018-09-08 12:01] Lednerb commented on #56
Hi @davideriboli,

I've implemented a config option to switch the default overlayIcon.

Check out the next release for the changes :)

[2018-09-08 12:01] #56 closed

[2018-09-08 12:02] Lednerb commented on #53
Hi @cripplet

I've implemented further configuration options that will be shipped with the next release.

Thanks for your input.

[2018-09-08 12:02] #53 closed

[2018-09-10 11:46] Lednerb commented on #69
Maybe not suitable anymore because of multi lang columns.

If this feature is wanted in the future, this issue can be reopened again.

[2018-09-10 11:46] #69 closed

[2018-09-12 13:15] Djas2017 commented on #109
Thanks for the followup.
I will reinstall it again and provide feedback. May be I have missed something!

[2018-09-13 09:24] ihelwn opened #111 "Add a hint for the hugo extended version for sass support."
$ hugo server
Building sites … ERROR 2018/09/13 09:20:52 error: failed to transform resource: TOCSS: failed to transform "sass/theme.scss" (text/x-scss): this feature is not available in your current Hugo version
Total in 64 ms
Error: Error building site: logged 1 error(s)

$ hugo version
Hugo Static Site Generator v0.48 linux/amd64 BuildDate: 2018-08-29T06:33:51Z

please check issue

[2018-09-13 10:41] Lednerb commented on #111
Hi @ihelwn you will need the extended version of hugo.

I have to add the hint to the README.md file.

Please download or install the extended version for this theme, you can find it here:
https://github.com/gohugoio/hugo/releases

[2018-09-14 12:43] Djas2017 commented on #109
I have reinstalled again a created new blog following the instructions in the Quick start instructions and the categories & tags pages work well now.

**NEW BUG**: Let me know if you want me to open a new issue for this
I am facing another issue with the brand new blog is that the **Font Awesome Icons are not displayed**.

**QUESTION**:
Could we use **external images for the gallery sliders and ar

[2018-09-14 18:14] lingej opened #114 "404 on fonts"
Local fonts are not found while running hugo server

latest working version ist 1.9.1

[code]

[code]

[2018-09-14 21:33] nnja commented on #114
Updated to the newest theme version today, and I'm experiencing the same issue

[2018-09-14 21:46] nnja commented on #114
@lingej This issue was affecting me too, so I opened a PR. See https://github.com/Lednerb/bilberry-hugo-theme/pull/115/commits/edf40a76eaa25daf29a58df396115c945fbceae2

[2018-09-14 21:47] nnja commented on #111
The readme should also be modified to remove the outdated instructions for using `yarn`

[2018-09-15 07:52] #109 closed

[2018-09-15 07:53] Lednerb commented on #114
I've just released the hotfix version 1.11.1 that fixes the error by respecting the `.Site.BaseURL` parameter.

[2018-09-15 08:13] lingej commented on #114
Hi @Lednerb

my config.toml contains

baseURL = "/"
relativeurls = true

because my site is served on different domains

1.11.1 does not work with baseURL="/"

Joerg

[2018-09-15 08:36] Lednerb commented on #114
Hi @lingej

Can you give me an example of how your URLs look like?

Maybe a `fontsFolder` config can help you?

I'm just thinking about how to fix this in an elegant way but at the moment I've no good idea.

We have this in the `_variables.scss`:
[code]

so maybe we extend it as:

[code]

What do you think?

[2018-09-15 08:42] lingej commented on #114
Hi @Lednerb

currently baseURL = "https://ederdrom.de"

See a working example https://ederdrom.de/
and the broken fonts on https://www.ederdrom.de/

Before 1.11.1 I just used baseURL = "/"

[2018-09-15 08:47] Lednerb commented on #114
on https://www.ederdrom.de the `/dist/` part is missing.

I will push to `development` in just a minute, maybe you can test and tell me if the problem is solved.

[2018-09-15 08:53] lingej commented on #114
baseURL = "/" results in $fonts-folder: '//dist/fonts/';

// results in https://dist/fonts

This is like an URI without Protocol Scheme

[2018-09-15 09:00] Lednerb commented on #114
Please check out the actual `development` branch now.

The `.Site.BaseURL` needs a trailing slash at the moment.

If this does not work for you, you can add the `customFontsURL` to your `config.toml` to the `[params]` list.

[2018-09-15 09:06] lingej commented on #114
works for me with baseURL="/"

just an other hint from hugo version 0.48/extended

[code]

https://github.com/Lednerb/bilberry-hugo-theme/blob/master/assets/sass/_variables.scss#L40

Thanks a lot !

Joerg

[2018-09-15 18:04] #114 closed

[2018-09-17 20:28] Djas2017 opened #120 "Question: Could we store the images used in Featured articles and Gallery sliders in an external server (AWS S3 or somewhere else)"
Could we use external images for the gallery sliders and article featured images (I ant for example to have the images stored in AWS S3 or somewhere else, and not in the same server where the blog is hosted).

In this example:
`ls content/gallery/my-trip-to-scotland/`
`index.de.md	index.md	scotland1.jpg	scotland2.jpg	scotland3.jpg	scotland4.jpg	scotland5.jpg`

I want the images scotland1.jpg, ...,

[2018-09-17 20:42] Lednerb commented on #120
Hi,

yes, you can add an gallery array to your gallery post, like

[code]

Not checked yet but should work for external images.

This was the default behavior a while ago, we have to add this method to the README.md

Gesendet von ProtonMail mobile

-------- Original-Nachricht --------
An 17. Sep. 2018, 23:28, Djas2017 schrieb:

[2018-09-18 02:54] Djas2017 commented on #120
Great! I have tested it for gallery and this works!

[2018-09-18 04:33] Lednerb commented on #120
Nice!

You can add the keyword featuredImage: "URL" for the featured images.

Gesendet von ProtonMail mobile

-------- Original-Nachricht --------
An 18. Sep. 2018, 05:54, Djas2017 schrieb:

[2018-09-18 09:34] Djas2017 commented on #120
Tested and it is working. Thanks for your fast replies!

[2018-09-18 09:34] #120 closed

[2018-09-18 10:09] Djas2017 opened #121 "How to specify the readingtime for galery and article posts?"
Hi,

The parameter `showReadingTime = true` is set in the config.toml file.
But I didn't find in the documentation how to specify the amount of time (ex: 5 minutes)

What are the supported units (Minutes, seconds, ...??)

[2018-09-18 10:44] Djas2017 opened #122 "Error when building site on Ubuntu server failed to transform "sass/combined.scss" (text/x-scss)"
Trying to get the hugo bilberry-hugo-theme working on an Ubuntu server, but I got this error:
`Building sites … ERROR 2018/09/18 error: failed to transform resource: TOCSS: failed to transform "sass/combined.scss" (text/x-scss): this feature is not available in your current Hugo version
Total in 230 ms
Error: Error building site: logged 1 error(s)`

- Ubuntu version:
`Ubuntu 16.04.5 LTS`
- hugo ve

[2018-09-18 18:15] Lednerb commented on #122
On Ubuntu you have to use the extended version, too.

It seems like it's the standard one?

Gesendet von ProtonMail mobile

-------- Original-Nachricht --------
An 18. Sep. 2018, 13:44, Djas2017 schrieb:

[2018-09-18 18:18] Lednerb commented on #121
It's the Hugo built in feature that estimates the reading time in minutes based on the words of your article / post.

If enabled it should update automatically and be displayed in the post's meta area like the categories, author and so on.

Gesendet von ProtonMail mobile

-------- Original-Nachricht --------
An 18. Sep. 2018, 13:09, Djas2017 schrieb:

[2018-09-18 18:54] Djas2017 commented on #121
Ah, ok! I didn't know that hugo estimates the reading time automatically.

In my use case, I have some articles which will only contain a summary and a link to the original article. And ideally, I want the Reading time to be the time required (estimate) to read the original (external) article. Hugo automatically returns the reading time of the summary text only. An estimate which not includes the

[2018-09-18 20:29] Lednerb commented on #121
At the moment this can't be displayed as you would need it, but I think there are two approaches we can go with:

1. Add an option to overwrite the automatically estimated reading time
2. Add an option for a custom meta fields, that can be defined in the site's config file and a users could add to their archetype to add this to their content.

Both would be nice features someone maybe has a use ca

[2018-09-19 15:15] Djas2017 commented on #122
I will try the extended version and provide feedback

[2018-09-19 15:19] Djas2017 commented on #121
Great!
You mean adding an option in the content index.md files where the user can specify something like:
`reading time: 6 minutes`
in addition to the author, categories, etc.

Just to get an idea, and based on your priorities and availability, when could you get this added?

[2018-09-19 15:40] Djas2017 commented on #122
You are right!
It works with the extended version from https://github.com/gohugoio/hugo/releases/

https://github.com/gohugoio/hugo/releases/download/v0.48/hugo_extended_0.48_Linux-64bit.deb

Thanks!

[2018-09-19 15:40] #122 closed

[2018-09-19 16:12] Lednerb commented on #121
Until mid of next week I'm in the Ukrain to celebrate with my wife our wedding that was earlier this year.

So I think this can be added maybe in the first week of October, maybe end of September.

Gesendet von ProtonMail mobile

-------- Original-Nachricht --------
An 19. Sep. 2018, 18:20, Djas2017 schrieb:

[2018-09-19 16:13] Lednerb commented on #122
Thank you for the reply :)

Gesendet von ProtonMail mobile

-------- Original-Nachricht --------
An 19. Sep. 2018, 18:40, Djas2017 schrieb:

[2018-09-19 18:03] Djas2017 commented on #121
Congrats and enjoy these great times.

[2018-09-20 08:17] Lednerb opened #123 "Update README for external images"
Regarding #120 the readme should be updated so the `featuredImage` and `gallery` keywords are documented.

[2018-09-20 08:21] Lednerb opened #124 "Implement option to overwrite calculated reading time"
Regarding #121 the option the overwrite the readingTime should be added.

Maybe a keyword `readingTime:` that overwrites the automatic generated one.

Also update the README.md

[2018-09-20 08:32] Lednerb opened #125 "Status post type"
Regarding #75 a `status` post type can be added that comes without deep-linking and headlines.

Via the overwritable post icons, this should fit for status messages or a facebook mirror.

[2018-09-20 08:39] Lednerb opened #126 "Add custom post meta information"
Regarding #121 it would be cool to have a configurable option to include custom post meta information.

First ideas:
- configure in the `config.toml` the keywords that should be displayed as a meta field
- in the `post.md` you can specify that defined keyword and its value should be displayed on the post's meta area
- a user can then add this particular keyword to his archetype so everytime a new

[2018-09-20 08:41] Lednerb commented on #121
Thanks! Closing here because the issue is split into  #126  and #124.

[2018-09-20 08:41] #121 closed

[2018-09-26 03:37] aulphar opened #128 "Hugo v.0.49 extended breaks bilberry theme"
the example site do not build with following error

[code]

my hugo version
[code]

theme is release [Hotfix - 1.11.1](https://github.com/Lednerb/bilberry-hugo-theme/releases/tag/1.11.1)

[2018-09-26 06:23] jamestagal opened #129 "Building sites … ERROR"
I have installed your Hugo theme today as a submodule and did the configuration step ie : copied the config.toml content over to the root config.toml file. Then when trying to run the server locally i got the following error message:

`Building sites … ERROR 2018/09/26 15:04:49 error: failed to transform resource: TOCSS: failed to transform "sass/combined.scss" (text/x-scss): this feature is not a

[2018-09-27 15:58] Lednerb commented on #129
Hello,

you have to use the extended hugo version that you can get from their offical release page.

See #111

[2018-09-27 20:13] yitzhakbg commented on #128
I think the problem is Hugo v0.49. When I run with v0.48, it works but I don't know why v0.49 breaks it.

[2018-09-28 00:38] jamestagal commented on #129
Hello,
I am using a Chocolatey package manager on Windows is has not been updated as far as I am aware.
https://discourse.gohugo.io/t/hugo-0-49-released/14375
Ben

[2018-09-28 09:35] aulphar commented on #128
I still have the problem, i installed hugo using the [hugo extended v0.49 deb](https://github.com/gohugoio/hugo/releases/tag/v0.49)

[2018-09-29 13:44] jamestagal commented on #129
Hi Lebnerb,
I tried on my Mac and installed the following Hugo version but got an error although it was a different error with this set up:

`Building sites … ERROR 2018/09/29 23:38:41 Error while rendering "taxonomyTerm" in "": template: _default/list.html:58:59: executing "_default/list.html" at <resources.Concat>: error calling Concat: slice []interface {} not supported in concat
ERROR 2018/09/

[2018-09-29 16:55] meonamz opened #130 "Custom colors and fonts Error"
I have install your hugo theme and try to custom color and font by follow the step in your guide README.md, in last step I can't run "yarn run production" it just got Error:

[2018-10-01 07:01] webratz commented on #129
I see that same issue while using the 0.49 extended deb package (hugo_extended_0.49_Linux-64bit.deb) on Ubuntu 18.04.

[2018-10-02 19:10] szjani commented on #129
I have the same "Concat" issue on Windows. I have to use 1.9.1, newer versions cannot be built.

[2018-10-05 09:09] maxauvy commented on #128
Hi there,
I can confirm the issue persists with the development branch.

Hugo extended v0.49, fresh new emty site. I just cloned dev branch and followed the instructions in the readme.

Still those 15 errors.

[2018-10-05 12:56] yitzhakbg commented on #128
Yes, v0.49 breaks bilberry

[2018-10-08 14:46] Lednerb commented on #129
Related to #128

Closing here and working for on a fix.

[2018-10-08 14:46] #129 closed

[2018-10-08 14:47] Lednerb commented on #130
The yarn installation process is outdated. A fix and new release in `master` branch are on the way.

[2018-10-08 14:53] Lednerb commented on #111
Done by @nnja in #131 - THANKS!

[2018-10-08 14:53] #111 closed

[2018-10-08 15:15] #123 closed

[2018-10-08 16:20] #128 closed

[2018-10-09 03:30] jamestagal commented on #129
Hello @Lednerb
i just tried this latest release and still get the original error I posted
`Building sites … ERROR 2018/10/09 14:24:00 error: failed to transform resource: TOCSS: failed to transform "sass/combined.scss" (text/x-scss): this feature is not available in your current Hugo version`

Again my Hugo version is as follows:
Hugo Static Site Generator v0.49 windows/amd64 BuildDate: 2018-09-24

[2018-10-13 10:13] Lednerb opened #137 "CustomImage"
Custom image with `relLangURL` zu `relURL` ändern

[2018-10-13 10:31] Lednerb opened #138 "Slider-Controls mit Rand"

[2018-10-13 19:52] #44 closed

[2018-10-13 19:52] #137 closed

[2018-10-13 19:52] #138 closed

[2018-10-23 07:29] ihelwn opened #142 "Are the h3 and h4 designs intended?"
Hello, I'm using very well.
thank you for bilberry-hugo-theme developer

I have question

Are the h3 and h4 designs intended?

![image](https://user-images.githubusercontent.com/42862130/47342446-b73b4a00-d6de-11e8-88e4-28dad21c47e5.png)

![image](https://user-images.githubusercontent.com/42862130/47342416-a38fe380-d6de-11e8-8969-0e5f0cae590b.png)

and

{{< highlight javascript >}}
<script>
</scri

[2018-10-26 17:17] Lednerb commented on #142
I have to check this, but the `{{<highlight ... >}}` shortcode is not configured for the hugo theme.

There is the usage of `highlight.js` to do this, maybe the issue is caused by this.

Just try to use the ``` syntax.

----

The `h3` and `h4` tags are not designed well, this has to be fixed.

[2018-10-28 03:07] ihelwn opened #143 "Do you plan to add the Table of Contents feature?"
I would like to have a function that automatically creates a table of contents for h1 ~ h6 items.

If there is a table of contents at the top of the article and you have the ability to jump to the head when you click on an item, you may be able to find the item you want faster.

[2018-10-28 10:54] ihelwn opened #144 "Tag Bug"
config.toml -> disablePathToLower = true

![image](https://user-images.githubusercontent.com/42862130/47614917-f73d6b00-daea-11e8-9c3e-d83c8caafb8d.png)
'JavaScript' Tag Click

![image](https://user-images.githubusercontent.com/42862130/47614920-08867780-daeb-11e8-8ef2-85907c4514e0.png)
http://localhost/tags/JavaScript/
404 page not found

but

http://localhost/tags/javascript/ <- lower
![image](h

[2018-10-31 13:59] changchichung opened #145 "can not start server , TOCSS failed to transform sass/combined.scss"
OS: ubuntu 18.04
hugo 0.50
[code]

error when start hugo server
[code]

and hugo V0.46
[code]
I fetch hugo deb file from https://github.com/gohugoio/hugo/releases
any suggestions ??

[2018-10-31 14:04] changchichung commented on #145
the install from gohugo just said apt-get install hugo , that`s version 0.40 , maybe you should update readme to use hugo_extended_0.xx from  https://github.com/gohugoio/hugo/releases

[2018-10-31 14:08] Lednerb commented on #145
Already done ;)

https://github.com/Lednerb/bilberry-hugo-theme#requirements

[2018-11-01 04:08] changchichung commented on #145
that`s the first documents I try to follow , but in that link
https://gohugo.io/getting-started/installing/
search for Ubuntu , just said
[code]
but this only install hugo v0.40  , did not match the requirements.

[2018-11-01 09:35] changchichung opened #146 "video thumbnail is diferrent then the real video"
I create a video post using
[code]
and hereis the video1.md
[code]
the generate the static file
But the thumbnail in index page is totally different then the real video clip
here is the thumbnail
![](http://i.imgur.com/0PnQK2g.png)
and here is what yo usee when you look into the video post
![](http://i.imgur.com/srXTfXU.png)

is there anyway to fix the thumbnail ?

[2018-11-01 16:43] mandarvaze opened #147 "Question : Archive functionality"
Is there a plan to provide "archive" functionality where **all** posts are listed year/month wise ?

If it is already possible - how to achieve it ?

[2018-11-03 08:31] Lednerb commented on #145
That's right, but I'm not an official hugo maintainer and this theme is an open source contribution, not related to the main hugo project.

Hope you're doing well an can run the theme with the extended hugo version.

[2018-11-03 08:31] #145 closed

[2018-11-03 08:33] Lednerb commented on #146
I think this is not an issue with the theme itself but rather with your browser's caching.

Please try to clear the cache or load your local site with disabled cache (in Chrome and Firefox: F12 -> Network(analysis) -> Disable cache)

[2018-11-03 08:37] Lednerb commented on #147
Until now there was no plan to do so, but I think this would be a nice feature.

----------

**Feature description**
Maybe you can enable it via the config file and get a link in the footer, called "Archive".
Clicking there will list all posts, sorted by date, grouped by month and year with a nice view for the used `tags` and `categories`.

[2018-11-03 14:11] mandarvaze commented on #147
Since you have tagged it as "Help Wanted", I want to volunteer.
But I have no experience working with hugo/themes.

If you provide some pointers, I may be able to dabble and provide some PR (or more questions)

[2018-11-08 13:00] onedrawingperday opened #148 "Your theme's demo is not working on the Hugo Themes website"
Hello @Lednerb

I see that since commit 79846b17 your theme is using Hugo Pipes.

However you have not committed the generated resources of your theme and as a result your theme's demo [fails to generate on the Hugo website](https://themes.gohugo.io/bilberry-hugo-theme/).

To fix this issue please have a look at the updated README of Hugo Themes: https://github.com/gohugoio/hugoThemes#resources Yo

[2018-11-08 23:12] Djas2017 opened #149 "What is the easiest way to integrate social share buttons?"
Hi,

May be this feature already exists in the bilberry-hugo-theme.

If it is not available yet, what is the easiest way to add social sharing buttons to each blog page (gallery, article, etc)?

Some of the third party social sharing solutions: https://www.sharethis.com/ and https://www.addthis.com/

Thanks

[2018-11-09 08:34] Lednerb commented on #149
At the moment there are no social share buttons integrated.
You can only link to your accounts in the footer.

I will mark this as a feature request for the upcoming versions.

------------------------

If anyone wants to submit a PR, you should implement an option to activate the sharing buttons via the `config.toml` file.

[2018-11-09 08:38] Lednerb commented on #148
@onedrawingperday thank you very much for the hint! I will update and commit the `resources` in the next days and leave a message here when it's done.

[2018-11-10 05:01] phucduong86 opened #150 "Pipeline is not recompiling"
Hi,

It seems like hugo pipeline is not recompiling for me when i changed variables in _variables.scss
I'm using hugo 0.49 on Windows 10.
Repo: https://github.com/phucduong86/pddev-go-blog
I'm using the following command for local dev:
hugo server --renderToDisk --disableFastRender --ignoreCache

[2018-11-10 08:59] Lednerb commented on #150
I've just checked your repo.
I assume you're running the extended version of hugo.

I'm running the same command and get an auto-updated version of the site on `localhost:1313`.

Maybe your local browser cache produces the issue.
Try to enable the console via `F12` (Chrome + FF), switch to `Network` and check `Disable Cache`

I'm using `Hugo Static Site Generator v0.50/extended linux/amd64 BuildDa

[2018-11-10 09:33] Lednerb commented on #144
It seems like this is a general error with `disablePathToLower = true` because the article URLs don't get rendered with capitals either...

[2018-11-10 17:15] Lednerb commented on #149
We should implement this project because it's privacy protecting and highly configurable:
https://github.com/heiseonline/shariff

[2018-11-10 17:35] Lednerb commented on #148
Hi @onedrawingperday

I've just wanted to fix this issue and followed the Readme, but no `public/resources` folder gets generated.

The styles get generated as follows:

[code]

and scripts:

[code]

So I'm using the `.Permalink` syntax.

However a `/resources/_gen` directory gets generated but not within the `public` folder but directly under `/`

-----------------------------
Will it work to cop

[2018-11-10 17:48] onedrawingperday commented on #148
@Lednerb You need to use `.RelPermalink` in every template because your theme's demo will be available in a subdirectory of the Hugo website.

You need to execute `hugo` from your Example Site's directory locally and then commit what is under `exampleSite/public/resources/` in your theme's repository.

Once you do this let me know so that I can test your theme with the Build Script.

Thanks.

[2018-11-10 18:01] Lednerb commented on #148
Please have a look at 8770b9b.

I've updated to `.RelPermalink` but the `public/resources` folder gets not generated...

[2018-11-10 18:11] onedrawingperday commented on #148
https://github.com/Lednerb/bilberry-hugo-theme/commit/8770b9b8997c6d0da74f545cacb84853d1de141f looks fine.

Regarding the `public/resources` folder please try the following:

- Go into your theme's `exampleSite` directory.
- In line 5 of `exampleSite/config.toml` enter this parameter: `themesDir = "../.."`
- Save
- Open a terminal from within the `/exampleSite/` directory and run `hugo`
- After a

[2018-11-12 09:52] Lednerb commented on #148
Hi again and thank you for the instructions!

I've followed them and again there is a `resources` folder generated but not within the `public` folder.
It gets generated in the `exampleSite/resoureces` now.

----------------

Thanks for the hint, I will write a deploy script when the `public/resources` folder will be generated finde but at the moment it's always under the root path.

I'm using the

[2018-11-12 11:06] onedrawingperday commented on #148
Hi @Lednerb and thanks for your response.

I am not using Hugo Extended myself since I do not rely on SCSS.

Can you please tell me if the a resources folder `exampleSite/resources` contains the generated resources? Or is it empty?

If the folder contains the generated resources, then please commit the entire folder under the root of your theme's repository, so that I can test the theme demo with

[2018-11-12 12:18] Lednerb commented on #148
Hi again @onedrawingperday

I've updated the repo and committed the `resources` folder directly.
Since 8770b9b the `.RelPermalink` is used, so it shout work regarding the new issue.

Please let me know if it will work with this changes.

[2018-11-12 15:21] onedrawingperday commented on #148
@Lednerb Now your basic CSS is getting served when I test your theme's demo.

However the icon fonts are missing because you have hard-coded the Example Site's `baseURL`.

To fix this issue under `/bilberry-hugo-theme/assets/sass/_variables.scss` please change line 1 to the following:

[code]

They way you have set it up now the font URLs are  outputted like so: `https://example.com/dist/fonts/rob

[2018-11-12 15:30] onedrawingperday commented on #148
Eh. I see that you pushed a new commit as I was updating the code snippet.

Bear with me just a minute. I'll test your commit right now and let you know.

This the first time I encounter this issue so I don't have a ready-made fix. I need to test first.

[2018-11-12 15:31] Lednerb commented on #148
Hey @onedrawingperday

thanks for the critical hint here. I've forgotten this part.

New version pushed.

-----------------------------
Thank you very much for your help, time and engagement not only on this theme but also here https://github.com/gohugoio/hugoThemes/issues/430#issuecomment-435367441 and in general with the Hugo Theme department! :+1: :tada:

Great work!

[2018-11-12 15:49] onedrawingperday commented on #148
@Lednerb
No dice with commit: https://github.com/Lednerb/bilberry-hugo-theme/commit/7d6eb09c8f741974f1aa1a6d9bf52f139855ab5d

Please try the following:

[code]

[2018-11-12 16:05] Lednerb commented on #148
@onedrawingperday done.

[2018-11-12 16:58] onedrawingperday commented on #148
@Lednerb

I had to install Hugo Extended to troubleshoot this issue.

Please delete the entire existing `/resources/` directory, then regenerate and again commit the new resources.

Let me know once you do this so that I can test with the contents of your repository.

[2018-11-12 20:22] phucduong86 opened #151 "Taxonomy pages does not show."

[2018-11-27 18:31] Lednerb commented on #148
Hi @onedrawingperday

sorry for the delay. I've uploaded it again in f72e2b3

Please check. If there's still an issue and you have the solution for this... I'm open for PRs ;)

Thank you for pinging here again.

[2018-11-28 15:21] #148 closed

[2018-11-28 15:31] Lednerb commented on #148
@onedrawingperday thanks for the PR, it's merged.

[2019-01-08 17:04] Djas2017 opened #153 "How to keep the human readable names of images instead of the hashed names?"
Hi,

1) After generating the html version of the blog, in the public folder, all image names are replaced with a kind of hashes like:"_hu84e2839491c1e00....2507045_125438_2091538...f591dc4f36e7....656.png"

Is there any option in the config file to keep the original images naming? (For SEO)

2) Another question, what is the easiest and correct way to add image "alt" tag to the images included in t

[2019-01-30 13:17] Lednerb commented on #153
Hello @Djas2017 and sorry for the delay.

1. I can't verify the problem at the moment. How do you include the images? What kind of images are affected (gallery, featuredImage?)

2. At the moment there is no such option to set the alt tags.
A possible way would be to enhance the gallery function for [External Images](https://github.com/Lednerb/bilberry-hugo-theme#external-images), so you can define

[2019-01-30 13:19] Lednerb commented on #151
Sorry for the long delay @phucduong86 ,

is this still an issue or did you found a solution already?

[2019-01-30 14:07] Djas2017 commented on #153
For the image names,  I have turned the resizeImages parameter to off and the image names now appear correctly.
` # let hugo automatically resize and crop your images to the correct sizes
    resizeImages = false`

When it was turned on, it creates new images even if my original images are 750x350

So we can consider this as closed.

Thanks

[2019-01-30 14:16] Djas2017 opened #154 "Is there a way to use Rel=canonical tag for duplicate articles?"
When I create an article-master for example and want to create another article called article-duplicate which contains a duplicated content.

From the seo perspective to keep blog crawling clean,  we need to add in the duplicate article a line:
<link rel="canonical" href="https://myblog-test.tld/gallery/article-master/" />

Ref: https://blog.alexa.com/canonical-url/

Is this something that already

[2019-01-31 09:51] Lednerb commented on #154
At the moment there is no such integration for this theme available.

After reading the linked article I would suggest to add both options: `rel_canonical` and `original_url` as parameters in the front matter. If one of these is set, the canonical url `link` tag will be set.

That's an easy integration.
Would be nice if you can send an PR, otherwise I will set it on my todo list.

[2019-01-31 09:52] Lednerb commented on #153
We should add this to the documentation in the `README.md`.

[2019-01-31 17:30] Djas2017 commented on #154
If you can set it on your todo list, that will be great.
I have never sent a PR!

[2019-02-10 03:35] phucduong86 commented on #151
Hi @Lednerb,

Thanks for responding. Still blank taxonomy pages when I develop locally but it seems fine when I deploy to live.
It's not a big issue since my page still works.

[2019-02-16 04:36] chengxuncc opened #155 "SiteWidth is not suited with layout"
While siteWidth is greater than 800px(default), for example 1000px, then change browser's width or surf on phone, bubble and .main:before will cover the article.
![1](https://user-images.githubusercontent.com/17265076/52894616-60a2d000-31e7-11e9-8786-2e58e4614c08.png)

[2019-02-16 05:05] chengxuncc commented on #155
find a hard code
![2](https://user-images.githubusercontent.com/17265076/52894841-8336e800-31eb-11e9-8623-d7bc65ddfa73.png)

[2019-02-16 10:10] #155 closed

[2019-02-17 14:53] anoff commented on #29
I would like this feature as well 😁 Maybe like [beautiful jekyll](https://deanattali.com/beautiful-jekyll/) that the navbar actually shrinks and just leaves the _home button_ there. I find it hard to scroll up especially on mobile.
An alternative would be one of those navs that scrolls out but if you scroll up it immediatly pops into view (sorry don't know their name)

[2019-02-17 14:56] anoff opened #157 "Cookie consent popup documentation enhancement"
I am going to implement the [informational cookieconsent](https://cookieconsent.insites.com/app/themes/insites-cookie-consent/examples/example-3-informational.html) banner for my blog. Are you interested in getting this as a PR?

[2019-02-18 15:08] Lednerb commented on #157
@anoff Tanks for your request.

If the PR delivers an deactivated by default setting for the `config.toml` I think this would be a nice feature some users would be interested in.

With hugo and a static self hosted blog / website the users should be able to have a privacy friendly website by default / privacy by design.

Because I'm interested:
Which kind of cookies will you use on your site?
Goog

[2019-02-18 18:40] anoff commented on #157
I am only using GA atm to get a feeling how my blog posts resonate/which topics get the most traction etc.
Actually I solved the entire thing by using the custom `css/js` feature in the theme. So I don't think inlining the sources into your theme makes much sense given that flexibility.

Should I add a section in the README detailing the few [changes I made](https://github.com/anoff/blog/commit/89

[2019-02-19 22:36] anoff opened #159 "Remove static pages from RSS feed"
Is there a way to get an RSS feed link that includes all `content` instead of the article/code/xyz specific urls?

[2019-02-19 22:39] anoff commented on #159
nevermind.. seems the root has this, only thing I would like to change is remove the "static" `page` from the RSS

[2019-02-20 11:22] Lednerb commented on #159
Hey @anoff ,

I've reopened the issue because this would be a nice improvement for the theme!

Maybe you can send an PR with your changes to archive this?

Best regards and thank you for your other contributions as well!

[2019-02-20 11:28] Lednerb commented on #157
@anoff thanks for sharing!

The section in the README would be a nice addition for other users and I will merge your PR for this :+1:

[2019-02-20 21:31] anoff commented on #149
What do you think about using plain `href` based share icons like http://www.sharelinkgenerator.com/

The only privacy issue there is that the social site knows the link is coming from your blog; but that is already in the content. No way for the site to track users on the blog plus no external dependencies added

[2019-02-20 21:42] #159 closed

[2019-02-20 21:53] Lednerb commented on #149
@anoff I like this idea, but we would have to style the different, etc. ourselves.

With sharrif, we could simply include the minified CSS and minified JS files (locally) and add a config option to enable/disable it and set the supported platforms.

As I understand the sharrif project, there should not be any tracking.

[2019-02-21 20:41] #157 closed

[2019-03-01 22:22] WardsParadox opened #165 "Feature Request: HighlightJS Theme as config option"
Would it be possible to have the hightlightJS theme as a config option?
I'm trying to change the zenburn theme to the lightfair theme instead, but I don't see an easy way unless I fork the repo or modify the `assets/css/imports` file.

[2019-03-06 23:08] WardsParadox commented on #165
Realized I could do this with a css_modules import of the highlight theme I wanted.

[2019-03-06 23:08] #165 closed

[2019-03-07 10:38] Lednerb commented on #165
Thank you for your contribution!

Nice, that this workaround works for you :+1:

[2019-03-23 15:30] anoff opened #168 "Preview image on twitter not working"
When adding a `featuredImage` to spice up the post overview page I create images with a large W:H ratio according to #44 . On slack the image is shown but on twitter it just shows a blank card.

slack:
<img width="554" alt="image" src="https://user-images.githubusercontent.com/7142618/54868094-f7375380-4d88-11e9-9948-25d196f81fa9.png">

twitter:
![image](https://user-images.githubusercontent.com/7

[2019-04-02 15:05] Djas2017 opened #169 "googleAnalytics parameter in the config file does not seem to work"
Hi,

I have added to the config.toml file:

googleAnalytics = "****My Tracking ID ***"

after building the blog, the google tracking code was not added to the html blog pages generated in the public folder.

Am I missing something here?

[2019-04-04 07:09] Lednerb commented on #169
Maybe the theme does not include the standard analytics snippet.

I will put this on my todo list, but at the moment it will need a while until I can check this.

[2019-04-04 07:11] Lednerb commented on #168
Maybe @nisargap has more information on this?

See also: https://github.com/Lednerb/bilberry-hugo-theme/pull/82

[2019-04-24 11:54] sebastienhouzet opened #172 "Error paginator"
Hello

I have an error during

hugo server -D

ERROR 2019/04/24 13:42:49 render of "home" failed: execute of template failed: template:
index.html:19:7: executing "main" at <partial "paginator" .>: error calling partial: "/Users/XX/Git/XX/themes/bilberry-hugo-theme/layouts/partials/paginator.html:8:34": execute of template failed: template: partials/paginator.html:8:34: executing "partials/paginat

[2019-04-28 12:30] lingej commented on #172
Same here!

change .Paginator.Prev.Permalink to .Paginator.Prev.URL

just a workaround because .URL is deprecated

Jörg

[2019-05-01 05:17] oika opened #174 "Is favicon param used?"
In config.toml, there's a favicon param.

[code]

This seems to be unused. Is it needed?

[2019-05-01 06:23] Lednerb commented on #174
Thanks for the hint!

If this option is not used, it should be implemented.

[2019-05-15 08:15] Oamha opened #175 "IconFont requests are all 404.It seems that the font-folder config doesn't work"
`Request URL: http://localhost:1313/theme/bilberry-hugo-theme/dist/fonts/roboto-mono-v5
vietnamese_latin_greek_cyrillic-ext_greek-ext_latin-ext_cyrillic-regular.woff2
Request Method: GET
Status Code: 404 Not Found
Remote Address: 127.0.0.1:1313
Referrer Policy: no-referrer-when-downgrade`
`Request URL: http://localhost:1313/theme/bilberry-hugo-theme/dist/fonts/fontawesome-webfont.woff?v=4.7.0
Requ

[2019-05-17 11:29] Lednerb commented on #175
Hi,

sorry for the late response. I will check this as soon as I have time for it.

It seems like there is something wrong with the paths.

If everything is correct, you don't need modifications in the `variables.scss` file.

[2019-06-04 01:59] jamesrwaugh commented on #147
Seconding. The Lingonberry theme has a nice archive feature here, for example: https://andersnoren.se/themes/lingonberry/templates/archive-template/

[2019-06-05 14:33] mandarvaze commented on #172
@sebastienhouzet This should not be closed without the fix. I'm also getting this. Luckily, I looked thru the "closed" issues.
(cc @Lednerb )

[2019-06-06 10:22] mandarvaze commented on #172
@Lednerb I think this needs a better fix. My PR will make the "error" go away, but as @lingej suggested, this is just a "workaround"

I found some discussion related to this [here](https://discourse.gohugo.io/t/url-warning/18385/2) - which clearly says that `URL is deprecated`

[2019-06-06 10:52] Lednerb commented on #172
Thanks for the hint!

[2019-06-09 17:04] Burnett01 commented on #175
Use hugo-extended and edit ``{{ $fonts := "dist/fonts/" | absURL }}`` in **variables.scss**

Problem solved.

[2019-06-13 11:04] #175 closed

[2019-07-03 09:42] jeremejazz commented on #143
A configuration option could be good
`toc = true`

[2019-07-07 14:53] jeremejazz commented on #143
@ihelwn for the meantime though you can override a layout file like [default-content.html](https://github.com/Lednerb/bilberry-hugo-theme/blob/master/layouts/partials/default-content.html) the add the [shortcode](https://gohugo.io/content-management/toc/) by creating the file on your layout folder. More info from docs:
https://gohugo.io/templates/base/

I did something similar with [Hello Friend t

[2019-07-08 19:05] StevenDoesStuffs opened #177 "Add gitlab to social media footer urls"

[2019-07-10 01:09] StevenDoesStuffs commented on #177
Really, the ability to add custom images with their own links for whatever social media site imaginable would be nice. It's quite impossible to cover all the possible things people might wanna link in that footer. For example, a gaming blog might wanna link their Steam account. People might wanna put a discord server, or a tech blog would want to put keybase, gpg stuff, etc.

[2019-08-05 06:03] jonasmit opened #178 "relative path in font-family appears to call localhost:1313 rather than using /dist/font"
When using the bilberry theme on Netlify with Hugo 0.56 I am getting errors that prevent fonts from loading.  The scss appears to generate links for localhost rather than path appropriate for server-side resource in /dist/font folder.

GET http://localhost:1313/dist/fonts/fontawesome-webfont.ttf?v=4.7.0 net::ERR_FAILED

Access to font at 'http://localhost:1313/dist/fonts/comfortaa-v12-vietnamese_l

[2019-08-23 19:02] an-t-oine commented on #178
i had the same behaviour.
To fixed it quickly by replacing all **localhost:1313** by my FQDN of my blog (**blog.mydomain.com**)
then, restart Nginx.
That's all.

[2019-09-05 18:18] motobreath opened #180 "Unable to update externalDependencies.js from imports file"
I see imports file points to Cloudflare hosted dependencies, and then externalDependencies.js is a single file aggregated from Cloudflare. I need to update to the latest version of Jquery, but updating imports file does not reflect the changes.

How to update externalDependencies.js

[2019-09-09 12:35] Lednerb commented on #180
At the moment it's implemented this way:

https://github.com/Lednerb/bilberry-hugo-theme/tree/master/assets/js

You should put all dependency-urls into the `imports` file.
Then you can run the command from the readme after `cd` into the folder:

[code]

[2019-09-26 13:27] tonytheleg commented on #177
I too would love a gitlab option and since I've been using this theme for a class project, I'd like to offer taking on adding it if you are still looking. I agree that giving users an option to add some custom ones would be great too, if I can figure out the logistics of how to cleanly do that I'll shoot for that too. For now I was thinking I'd had some more common-but-not-so-common ones (like git

[2019-09-27 06:54] Lednerb commented on #177
I thin the best way to implement this would be to have the option of defining the icon type (font-awesome list at the moment) and as an array in the `config.toml`.

The theme should then iterate over the given icons and links an render them in the footer.

With this approach we can directly support all pages and icons that are supported by fontawesome.

@tonytheleg PRs are welcome!

[2019-09-27 11:30] tonytheleg commented on #177
That's what I was thinking as well, I'll play around with it and see if I can get it figured out.

[2019-10-01 09:03] tonytheleg commented on #177
Sorry for delay, didn't realize the theme was pinned to Font Awesome 4.7 and realized that's why some custom icons I was trying would not work. I was playing around with what it would take to update to 5.11.2 which adds a lot more brand icons but never did quite get it working. I figured that was a separate PR on its own anyway with that many changes but probably worth looking into. A lot of sites

[2019-10-02 09:03] Lednerb commented on #180
Short update:

I'm currently working on another method for dependency managament (using laravel-mix and npm instead of the previous way).

[2019-10-03 12:10] borco commented on #178
I had the same behaviour when using gitlab ci to deploy on gitlab pages.

The only step I had to do to fix this was to force gitlab to use the extended hugo docker image:

[code]

This might actually not be a bug.

[2019-10-03 14:24] borco opened #182 "no "continue reading" when defining a summary"
When defining a summary, the **Continue reading** link is missing. the link is shown only when you use `` in the content.

[code]

![Screenshot 2019-10-03 at 17 20 44](https://user-images.githubusercontent.com/1324836/66135181-3250f400-e602-11e9-94ee-3cb6ec835353.png)

[code]

![Screenshot 2019-10-03 at 17 19 33](https://user-images.githubusercontent.com/1324836/66135413-98d61200-e602-11e9-941e-05

[2019-10-07 06:13] Lednerb commented on #182
Hello @borco ,

it's not a bug, it's a feature ;-)

Maybe we can add this to the docs?

[2019-10-07 12:57] borco commented on #182
I see. In this case, it definitely should go into the docs. My opinion, at least...

[2019-11-06 10:29] Mike-EEE opened #183 "Kudos: I Used Your Theme!"
A quick note of appreciation here for your theme.  I utilized it as a starting point and made my own customizations here:

https://blog.dragonspark.us/

Thank you for making it!

[2019-11-06 10:29] Mike-EEE commented on #183
Going to close this now as it's more praise than an issue/bug. 😁

[2019-11-06 10:29] #183 closed

[2019-11-11 14:12] Lednerb commented on #183
Hey @Mike-EEE !

Thank you very much for your message - I appreciate it very much!

Nice work with the pages menu!

Hopefully I will find some time for the open issues in the next days and maybe (but not very likely) I can start my own blog I've created this theme for :smile:

[2019-12-19 14:31] hypervtechnics opened #185 "Day/Night mode support"
It would be cool to have a button to be able to switch to darker colors. The choice should also be saved.

[2019-12-19 19:39] hypervtechnics opened #186 "Necessary to include generated files?"
Why not ignore the /resources/_gen directory via .gitignore? They are generated each time if I see this correctly...

[2020-01-06 10:54] Lednerb commented on #186
Hey @hypervtechnics

sorry for the delay.
The files were needed for the gohugo.io themes page.

Further Information:
https://github.com/Lednerb/bilberry-hugo-theme/issues/148

[2020-01-06 10:54] #186 closed

[2020-02-05 14:01] Lednerb commented on #180
Sorry for the circumstances and delays.

In version 2 of this theme, that's now in the pipeline, the dependency management is done by `npm` and `laravel-mix`.

See the latest changes from 0197b17 for further information.

[2020-02-05 14:01] #180 closed

[2020-02-05 14:03] Lednerb commented on #178
I will close this now.

Version 2 of this theme is in the pipeline.

If someone have the same issue, pls feel free to re-open it with further details.

[2020-02-05 14:03] #178 closed

[2020-02-05 14:10] Lednerb commented on #169
Just tested it again, after adding `googleAnalytics = "MY-TRACKING-ID"`  to the `config.toml` file, the following script block will appear in the rendered html:

[code]

[2020-02-05 14:10] #169 closed

[2020-02-05 14:19] Lednerb commented on #172
In the latest version 1.14.0 I don't have any issues, warning or error messages with hugo version 0.57/extended or 0.64/extended.

I will close here, if this issue occurs again, feel free to re-open it with further information.

[2020-02-05 14:19] #172 closed

[2020-02-05 15:25] #142 closed

[2020-02-05 15:47] Lednerb commented on #174
It's not used.

To be able to set also the Icon for touch devices etc. there should be used a clear naming convention so the user only has to put the needed files within the `/static` folder.

[2020-02-05 16:48] #174 closed

[2020-02-05 16:57] Lednerb commented on #151
Latest version tested today works as expected.

I've just checked your repo out and found the issue:

In your `config.toml` you have to set `uglyURLs = false` or remove it entirely.

I don't know exactly why this happens, but the solution will work for you.

BTW: I've updated the theme a lot today and released Version 1.14.0 while Version 2 is on the road!

[2020-02-05 16:57] #151 closed

[2020-02-05 19:36] phucduong86 commented on #151
Fantastic thank you.

[2020-02-05 23:57] #29 closed

[2020-02-08 19:28] TeknikalDomain opened #187 "Desktop layout wastes a lot of horizontal space"
On desktop (aka widescreen), only the inner third of the screen is used for content, and the rest is wasted, empty space. This also includes the topnav, where buttons are rather crowded and packed together to fit into that vertical band. I would assume that the `siteWidth` configuration might affect this, but it does not.

(Using commit 3435478b1d1120a61eb5a9dfbe1f24f6755e5545)

[2020-02-08 23:09] Lednerb commented on #187
Hey @TeknikalDomain

the `siteWidth` param within the `_variables.scss` file should indeed do the trick.

You have to rebuild the final `.css` file this way:

1. update the `_variables.scss` file
2. `cd` into the themes directory via terminal and run `npm install`
3. run `npm run production` to update your changes to the final `theme.css` file

Keep in mind that this theme is not one with a floati

[2020-02-08 23:19] TeknikalDomain commented on #187
I will try that in a moment, but that does make me wonder, what is `siteWidth` in `config.toml` configuring?

[2020-02-08 23:30] Lednerb commented on #187
Ah okay. I've missed this actually.

In the last days I've begun a rewrite of the dependency management and in an earlier version of this theme the hugo extended version was used to build the SASS/SCSS files directly into the final CSS file.

I will update the example `config.toml` and the docs soon.

If I remember correctly, there was also the option to define the header color via `config.toml` -

[2020-02-09 00:38] TeknikalDomain commented on #187
I'll take it a temporary fix is to just checkout `1.14.0` instead of directly from `master` at the moment.

[2020-02-11 21:01] Lednerb commented on #144
Fixed by 413f53c

See also: https://github.com/gohugoio/hugo/issues/6884

[2020-02-11 21:01] #144 closed

[2020-02-12 21:52] #177 closed

[2020-02-12 22:02] #153 closed

[2020-02-14 12:46] #154 closed

[2020-02-16 04:57] TeknikalDomain opened #188 "Potential bug: Posts not submitted in index.json for Algolia"
According to my current understanding of `layouts/index.json`, records are generated for tags, categories, and authors.

I think it would be nice if there was an option to enable generation of per-post records, maybe with a note indicating the potential cost (max records limit). Alternatively, a front matter variable could be added to override this on a per-page basis, to either only index some pa

[2020-02-17 02:05] TeknikalDomain commented on #188
Actually, looking through the code, it looks like this might have been intended behavior.

[2020-02-20 16:38] TeknikalDomain opened #190 "Unreadable syntax highlighting with plain / fallback languages"
The default syntax highlight with the theme appears to suffer from one major flaw: When the language is one of "plain", "text", "plaintext", or "fallback", the resulting styling rules will generate white text on what appears to be the site `background-color` background, meaning it's an unreadable combination of white text on a slightly off-white background.

When this happens, `theme.js` emits a w

[2020-02-20 22:17] Lednerb commented on #190
Hey, thanks for your feedback.

However, I cannot reproduce it.
Please tell me, how you markup your `plaintext` code.

See attached my test with the latest `master` version of this theme:
![screenshot_1](https://user-images.githubusercontent.com/2056876/74985139-2a6de100-5437-11ea-9c36-9746284a53e8.png)

[2020-02-20 22:30] #188 closed

[2020-02-20 22:30] Lednerb commented on #188
Hey again @TeknikalDomain !

Thx for your contribution and the PR!

[2020-02-20 22:40] TeknikalDomain commented on #190
![Screenshot from 2020-02-20 17-34-48](https://user-images.githubusercontent.com/17773093/74986801-cc75d500-5407-11ea-9ec0-dd8673751944.png)
![Screenshot from 2020-02-20 17-35-19](https://user-images.githubusercontent.com/17773093/74986735-a8b28f00-5407-11ea-8ba6-b459d40852c3.png)

I'm on the previous commit before my PR merge, so the theme file shouldn't have been touched by that... there *might*

[2020-02-20 22:46] TeknikalDomain commented on #190
The only potential issue I could see, which in fairness, might be completely my fault, is if I used a bad version of `highlight.js` when building a slightly tweaked theme bundle with changes to `_variables.scss`

`npm info highlight.js | grep version` reports `9.18.1`

If this is the case, then swapping back to normal would fix it and prove it's my end.

[2020-02-22 17:12] Lednerb commented on #190
I think there's a bit of both involved:

1. According to `highlight.js` there is only `plaintext` available, `plain` is unknown so the `fallback` language style will used

2. The fallback language style is readable on the latest `master` commit, as you can see in the screenshot below, so maybe that's a fault on your side.

![screenshot_2](https://user-images.githubusercontent.com/2056876/75096314-

[2020-02-23 05:51] TeknikalDomain commented on #190
`plaintext` does indeed... work as intended, I swear it gave the same error as before

Knowing me, I likely typed `paintext` by mistake and never noticed. One issue resolved at least.
Sorry about that.

[2020-02-23 05:51] #190 closed

[2020-02-23 14:01] Lednerb commented on #190
You're welcome!

[2020-02-24 18:39] TeknikalDomain commented on #147
Seeing as this is still an open issue and there doesn't seem to be any relevant changes recently, I think I'll throw my hat into the ring.

[2020-02-24 19:09] Lednerb commented on #147
@TeknikalDomain I'm open for PRs :)

[2020-02-25 15:59] tvories opened #191 "Algolia Search - "Nothing found""
Using Release 1.14.0

I have followed the instructions and set up Algolia for my site.  I have pasted the contents of index.json into my index at Algolia.  When I try to search my site I get "Nothing found" in the search box.
![image](https://user-images.githubusercontent.com/13934524/75264766-20d4d800-57ad-11ea-9c4d-eefd3e0c361a.png)

In Algolia I am able to "browse" my records and the search the

[2020-02-26 14:11] TeknikalDomain commented on #191
Just to verify here, the app ID, API key, and index name are all configured in `config.toml`, yes?

[2020-02-26 17:31] tvories commented on #191
Correct, the settings are set correctly in my `config.toml`.

I can actually see the API calls coming into the application so I know the api keys are set correctly:
![image](https://user-images.githubusercontent.com/13934524/75370870-0a00b500-5883-11ea-979d-c05e8ec0f079.png)

I just get zero results.

[2020-05-02 13:46] xfrnk2 opened #195 "Could you let me know how to insert an image between text and text in the content?"
Hello! Thank you for offering nice theme. I have a question.
I want to insert an image inside the content. It is between text and text, not the uppermost space(not featuredImage:"link")
How should I do it?

[2020-05-15 14:11] #195 closed

[2020-05-15 14:13] xfrnk2 commented on #195
I'm sorry, I solved it!

[2020-05-18 08:32] nidomiro opened #196 "No umlauts possible in taxonomies"
If a (article-)author is defined like `author: "a A"` everything works as expected.

But an author defined like `author: "a Aß"` or `author: "a Aä"` will result in a blank author.

I think the error happens in `/layouts/partials/default-content.html` between line 28 and 30.

Some Playing with values in line 28:
[code]
Prints:
[code]

[2020-05-18 09:26] nidomiro commented on #196
My Quickfix is to replace
[code]
with
[code]

I hope there is a better version, mine is very hacky.

[2020-05-18 11:00] Lednerb commented on #196
Hey @nidomiro

Thx for opening this issue.

Due to the lack of spare time it might take a while until I can check this further.

I've shorly verified the bug and it seems that also other areas are affected.

**The same bug occurs on categories and tags.**

[2020-05-18 19:15] nidomiro opened #197 "Summaries are shown randomly"
If I build via hugo multiple times some blog entries are randomly not summarized.

To debug this behavior I printed some variable Values:

layouts/partials/default-content.html: Line 33+
[code]

It seams that the variable `singlePage` is randomly true (in the feed line)

![grafik](https://user-images.githubusercontent.com/15079172/82250823-79e77e80-994c-11ea-84de-6cfab630de28.png)

[2020-05-18 19:26] nidomiro commented on #197
I build the same source 5 times with a bash-script and the result was 5 builds which are completely different (not only timestamps)

[2020-05-18 20:13] nidomiro commented on #197
I found a solution, I'll create a fix tomorrow

[2020-05-19 13:01] #197 closed

[2020-05-19 16:42] nidomiro commented on #196
https://gohugo.io/functions/anchorize/ looks like the solution ;)

[2020-05-19 17:04] nidomiro commented on #196
Ok, the game has not finished yet, anchorize has problems with + therefore "C++" will be "c"...

[2020-05-20 13:10] nidomiro commented on #196
It's fixed now :)
https://github.com/Lednerb/bilberry-hugo-theme/pull/199#issuecomment-631462782

[2020-05-20 13:40] #196 closed

[2020-05-23 11:19] Lednerb opened #201 "Change demo site to use commento.io instead of disqus"
Thanks to @nidomiro for implementing support for commento.io! [PR](https://github.com/Lednerb/bilberry-hugo-theme/pull/200)

Commento.io is a privacy-friendly commenting system that can replace disqus with open source software that's also have a fair and transparent pricing policy.

To support this I will setup a commento instance on my server and replace disqus in the demo site.

[2020-05-23 11:25] Lednerb opened #202 "Configure GitHub Task for auto-build"
The demo page should automatically update when new commits are merged into `master`.

Check all links to the demo page to be adjusted for gh-pages.

[2020-05-27 17:58] igor-baiborodine commented on #191
Hi,

Any progress on this issue? I have the same problem.

[2020-05-27 17:58] tvories commented on #191
I have not been able to get it to work for me yet.

[2020-05-28 13:01] Lednerb commented on #191
Thanks for looking into it @igor-baiborodine
The updated docs are merged into `master` and are available on the README
https://github.com/Lednerb/bilberry-hugo-theme#algolia-search

I will close this now, if any issues still occur, feel free to re-open.

[2020-05-28 13:05] Lednerb opened #205 "Link to Tutorial in README"
Hey @igor-baiborodine

I just saw your personal website and the tutorial here:
https://www.kiroule.com/article/start-blogging-with-github-hugo-and-netlify/

Is it OK for you if we link to it under the Quick-Start section for beginners?

If you like the idea, I'm open for an additional PR, otherwise I can add this in 2 weeks.

[2020-05-28 15:40] #205 closed

[2020-05-29 01:23] tvories commented on #191
So deleting my index and re-building it according to the new instructions does give me results, but it does not appear to be returning matches for the titles of my articles or tags.

For example, I have a title with the word Ansible in it.  If I type Ansible, I get no results.  The only results I get are the non-article pages on my site.

![algolia](https://user-images.githubusercontent.com/139345

[2020-05-29 10:22] igor-baiborodine commented on #191
Hi Taylor,

I would be happy to investigate this issue in my local dev, but I don't see your website's repo is present in your GitHub account. Therefore, if you provide me with a repo zip, I will work on it.

Thanks,

Igor

[2020-05-29 11:56] igor-baiborodine commented on #191
Hi Taylor,

This issue comes from that you use tag 1.14.0. You can compare index.json files produced by the [master](https://github.com/igor-baiborodine/test-algolia/blob/master/public/index.json) branch and tag [1.14.0](https://github.com/igor-baiborodine/test-algolia/blob/tag-1.14.0/public/index.json).

You can clone this example site [repo](https://github.com/igor-baiborodine/test-algolia) and

[2020-06-01 19:58] tvories commented on #191
@igor-baiborodine that fixed it!  I used the master branch and was able to uplaod the latest `index.json` and the results are good now!

I was running 1.14.0 because it allowed me to set the site width without editing the sass/scss but it wasn't difficult to get npm running to fix that issue.  Thanks for the help!

[2020-06-01 19:58] #191 closed

[2020-06-01 20:59] tvories opened #208 "Continue Reading link not expanding article"
## Configuration
- bilberry version: master
- hugo version: 0.72.0
- web server: nginx
- web browser: google chrome and firefox
- direct post to my website with the issue: https://taylorvories.com/articles/raspi-realmd/

## Issue
I have an article that has a continue reading link but when I click the link, it never expands the article.  Setting `noSummary: true` fixes the issue, but then I don't g

[2020-06-02 10:48] Lednerb commented on #208
Hey @tvories

I will be working on this at the weekend.

If I understand the issue correctly, the "Continue Reading" link is also shown on the article's single page instead only on the homepage and taxonomies view?

[2020-06-02 14:46] tvories commented on #208
I'm not sure which view is the single page view and which view is the taxonomies view.  The main page view shows the continue reading as well as the direct article link if that's what you're asking.

[2020-06-02 14:50] Lednerb commented on #208
Exactly, thanks.

[2020-06-04 09:32] frigi83 commented on #208
I have the same issue as @tvories  with a new generated article. On my laptop with the ubuntu PPA version of Hugo the problem was the building, test server (`hugo server -D`) was ok.

After that I have installed directly from the snap and now I have version `Hugo Static Site Generator v0.72.0 linux/amd64 BuildDate: 2020-05-31T18:06:12Z`. With this version it work's.

[2020-06-04 22:31] frigi83 commented on #208
@tvories do you delete the public directory or do you just run the `hugo` command?

In GitHub Actions I need to deploy my hugo site 2 times (between I delete all the public files) and after it works.

The strange thing is that my problem was only with the latest created post.

[2020-06-05 14:18] tvories commented on #208
I did not try deleting my public files.  I'll give that a shot.

[2020-06-07 18:37] Lednerb commented on #208
Hey @tvories

I've tried to reproduce the issue with a fresh hugo site using the theme and it's example content, but could not reproduce the error with the following `hugo` version:

[code]

Next I will try to reproduce this with windows, maybe it's OS-related?

[2020-06-07 19:05] Lednerb commented on #208
Indeed, I can reproduce this error on Windows 10 using version:

[code]

I think it's not related to this theme but to `hugo` in general?
I will check the `hugo` repo issues now...

[2020-06-07 19:29] Lednerb commented on #208
@tvories it seems that this issue was indeed introduced in the latest hugo versions.

I've tried this version on Windows without any issues.

[code]

Can you please verify this?
We can also open an issue in the hugo repository, so it get's globally fixed then.

[2020-06-08 15:41] tvories commented on #208
I have tried building with hugo v 0.61.0 and my site won't build:

[code]

I tried a few previous versions and it built successfully on v 0.67.1 and it builds but I am still getting the same issue.  I delete my public folder each time and fully regenerate it and I get the same problem.

[2020-06-08 16:01] Lednerb commented on #208
Please pull the latest changes. I've fixed that compatibility issue yesterday.

[2020-06-10 11:48] frigi83 commented on #202
I use this `yml` Action for:
- Hugo build (no idea why I need two times to build Hugo correctly, same situation as #208 )
- deploy on my SFTP server
- update the Algolia index

[code]

[2020-06-16 13:00] frigi83 commented on #149
I have made a PR #221 with direct integration in the theme for sharing sites. There is no need for JS or external CSS. Like social media, I use the Font Awesome icons.

The solution is more like the https://sharingbuttons.io/, but more flexible.

[2020-06-16 18:32] tvories commented on #208
I have pull the latest changes as of today and rebuilt using hugo 0.72.0 and I am still having this issue.  I have built with WSL Ubuntu as well as Windows hugo.

[2020-07-09 16:32] omerakgoz34 commented on #208
This issue also happening for me but randomly :/

Hugo Static Site Generator v0.73.0/extended windows/amd64
Bilberry Hugo Theme github master

[2020-07-09 17:16] Lednerb commented on #208
Hey @omerakgoz34

please try to use the version 0.62 with the latest version from the `master` branch and give me feedback if it also happens there.

Maybe we can reproduce and fix this issue ...

[2020-07-09 23:23] omerakgoz34 commented on #208
I tried with hugo v0.62.0 and latest master version of theme but it's still same.
I have no idea about why this is happening :(

[2020-07-09 23:29] omerakgoz34 commented on #208
+ only for some pages

[2020-07-10 09:34] Lednerb commented on #208
Okay, than I assume that it's a theme-related issue

Maybe there is a variable that is not initilaized / resetted correctly and depending on the last hugo status or the order in which the pages are generated, varying results are produced.

[2020-07-18 12:02] #201 closed

[2020-07-18 12:57] #202 closed

[2020-07-18 13:12] Lednerb opened #227 "GitHub Actions"
Check that the auto deployment only runs if the tests were successful.

[2020-07-18 13:14] Lednerb opened #228 "Commento functionality and keyboard support"
If commento is activated, like on the Demo page (https://lednerb.github.io/bilberry-hugo-theme/article/support-and-discussions/#commento-login-box-container), and someone enters the `S` key, the search bar pops up and the user can't really write it's contents.

With disqus the problem did not occur because it runs in it's own `iframe`.

The javascript needs to be adjusted...

[2020-07-18 19:14] Lednerb commented on #43
Done via python script.

Check the readme for further information:
https://github.com/Lednerb/bilberry-hugo-theme#Update-the-search-index

[2020-07-18 19:14] #43 closed

[2020-07-20 09:57] #228 closed

[2020-07-20 09:59] Lednerb commented on #208
Today I was able to reproduce the error via GitHub Action AutoDeploy.

I will investigate further and release a new version of the theme after this issue is fixed.

[2020-07-20 10:41] Lednerb commented on #208
I assume I've found the reason for this bug.

According to this blog post:
https://harmstyler.me/posts/2019/how-to-pass-variables-to-a-partial-template-in-hugo/

Maybe there is something like a cache-race-condition when building the `default-content.html` partial twice (one time for the `list.html` layout and one time for the `single.html` layout).

If this assumption is correct, the import of the

[2020-07-20 11:04] Lednerb commented on #208
I've verified that this is the case via small changes and a quick python script to check for consistency.
Now trying to fix this. Stay tuned.

[2020-07-24 11:30] Lednerb commented on #208
Problem should be fixed in the latest `master` version now.

It was a caching issue caused by the DRY-Code for including the `default-content` partial within another partial.

[2020-07-24 11:32] Lednerb commented on #208
Sorry guys, this makes me crazy... Not fixed yet...

[2020-07-24 15:20] Lednerb commented on #208
Asking for further help in the forums:
https://discourse.gohugo.io/t/handle-partial-in-partial-caching-block-inheritance/27142

[2020-07-27 10:46] #208 closed

[2020-07-27 11:09] Lednerb commented on #208
Fixed now.
I've decided to refactor the partials and to remove the `.Scratch` part as it produces errors when multiple partials are involved as it seems to me that the partials are rendered / cached independently of each other.

[2020-07-27 13:40] #227 closed

[2020-07-27 18:37] Lednerb commented on #168
Hey @anoff

this should be fixed in the latest version in the `master` branch now.

![grafik](https://user-images.githubusercontent.com/2056876/88578399-c801b800-d048-11ea-8f73-915f3dcc25d0.png)

![grafik](https://user-images.githubusercontent.com/2056876/88578488-eebfee80-d048-11ea-8cda-a068f0bc6ece.png)

Feel free to open the issue again if you find another bug related to it.

[2020-07-27 18:37] #168 closed

[2020-07-28 09:26] #90 closed

[2020-07-28 09:42] #124 closed

[2020-07-28 09:43] Lednerb commented on #121
Hello @Djas2017

after a long time the requested feature is now available in the latest version in the `master` branch.

Further information in the `README.md` and in #124

[2020-07-28 19:59] Djas2017 commented on #121
Good. Thank you.
Hope it will be useful to others too.

[2020-08-01 18:17] enmanuelmoreira opened #232 "Algolia search icon disappear"
Hi,

I updated my website (itsimplenow.com) at the latest version of the bilberry theme, and the icon of algolia search disappear

![Screenshot from 2020-08-01 14-16-26](https://user-images.githubusercontent.com/152518/89107816-abc39980-d401-11ea-9cfa-91f6dd83eb1b.png)

Regards.

[2020-08-01 18:21] enmanuelmoreira opened #233 "Translation missing for "estimated reading time" in several languages"
Hi,
I enabled the parameter showReadingTime = true and the reading time doesn't show on the article bar

![Screenshot from 2020-08-01 14-20-33](https://user-images.githubusercontent.com/152518/89107908-47eda080-d402-11ea-86ba-c38a5f460d97.png)

The main language of the website is spanish (DefaultContentLanguage = "es")

It works with english only or with another language as well?

Regards.

[2020-08-03 14:43] Lednerb commented on #233
Hi @enmanuelmoreira

thanks for the bug report.
I've investigated the problem:

The language file does not contain the `readingTime` translations so an empty string is returned.

You can fix this by adding the following lines to the `i18n/es.toml` file and translate it accordingly:

https://github.com/Lednerb/bilberry-hugo-theme/blob/5333bbbec37ddebe6e1f0f0d6ccc42dfdbc29195/i18n/en.toml#L34-L36

I

[2020-08-03 15:00] #232 closed

[2020-08-03 15:01] Lednerb commented on #232
Fixed now.

[2020-08-03 18:20] enmanuelmoreira commented on #233
PR sended. Thank you!

[2020-08-03 20:35] enmanuelmoreira commented on #233
tested and it works!

[2020-08-04 10:01] Lednerb commented on #233
I will leave this open to track the other missing languages.

[2020-08-06 09:15] stephenajulu opened #237 "Great Work! 🤩 + Headless CMS Question"
Hi, this is great work been looking up and down for a theme like this that supports: linklogging, imagelogging, bloging, videologging and microbloging.
Just saw it today.
Great work. I love it.
Now to the question does it support headless cms e.g Netlify CMS or Forestry?
If not kindly send me details on the front matters on each post type this theme supports i attempt to add Netlify CMS.
The reaso

[2020-08-07 05:55] nidomiro opened #238 "Switch to hugo pipes?"
Have you thought of switching to hugo pipes (https://gohugo.io/hugo-pipes/) for scss and js packing?
I think that approach looks very promising.

My Plan was to switch to hugo pipes, but only if you support the move (and with support I mean "You are OK with that" ;) )

[2020-08-07 09:30] Lednerb commented on #238
Hey @nidomiro

I've used hugo pipes in a previous version of this theme before https://github.com/Lednerb/bilberry-hugo-theme/commit/0197b17d328a291a30e9aa02f37472f11debd2e2.

It was a cool option and I've also integrated some SCSS-Processing with the hugo config, for example for adjusting the site width etc.
However, dependency management was a problem because there is none integrated and the cod

[2020-08-07 09:30] #238 closed

[2020-08-07 09:45] Lednerb commented on #237
Hey @stephenajulu!
thank you for the nice feedback, I appreciate it very much!

I'm not into the details of Netlify CMS or Forestry at the moment. I've read about it in the past, but did not use it yet.
It sounds very promising for your usecase and I also think this would be a great addition to this theme.

--------

Regarding the information about the post types:
I assume you've found the informa

[2020-08-07 09:58] Lednerb opened #239 "Support disabled JavaScript"
It would be nice if the theme will also work with disabled JavaScript.

At the moment it seems that only some smaller changes are needed:

![grafik](https://user-images.githubusercontent.com/2056876/89634118-23cc0c80-d8a5-11ea-9717-2b60ceff555a.png)

- Adjust styles to work without `hljs` activated
- Adjust top nav to be extended by default
- Don't show the search bar if js is disabled?

[2020-08-11 07:34] Lednerb opened #241 "Implement "Unit Tests" for the Frontend"
Sometimes changes on the code base can have unintended side effects.
It's difficult to test various screen sizes, browsers and platforms each time a new commit is added to this theme.

It should be evaluated and tested how some automatic tested can be implemented for the CSS part.

Maybe via https://needle.readthedocs.io/en/latest/

---------------------

Furthermore the exisitng test script can b

[2020-08-13 14:32] #233 closed

[2020-08-13 14:33] #239 closed

[2020-08-13 14:35] #126 closed

[2020-08-14 09:31] Lednerb commented on #237
Today I've tested forestry.

I was able to successfully run a build on their platform.
However, in my opinion it's a non-intuitive way of handling the content and the site and there are some points that have to be configured in much detail and it will still be not as flexible as using the file browser of the users OS.

For example:
Generating a new gallery entry is as simple as:

[code]

The conte

[2020-08-14 16:29] stephenajulu commented on #237
Great bro, no problem

[2020-08-14 16:29] #237 closed

[2020-08-14 18:11] Lednerb commented on #125
Todo: Add example posts for demo page

[2020-08-15 10:53] #125 closed

[2020-08-15 14:13] Lednerb opened #245 "Support Libravatar"

[2020-08-15 14:19] Lednerb opened #246 "Prevent automatic third party requests in videos"
For the `video` post type, the following feature should be implemented:

A new privacy-protecting function should be implemented to show only the video poster and only if a user clicks on the poster the associated `iframe` should be loaded.

Furthermore the video-url should be sufficient, the logic behind (if vimeo or youtube should be loaded) can be implemented in the template directly, so there

[2020-08-15 15:07] #245 closed

[2020-09-05 11:10] Aldhanekaa opened #251 "Youtube frame not responsive"
hmm, I have tried if I add youtube frames to our blog, it won't be responsible for phone or desktop.
I mean if we add this, it won't responsive:
<figure class="video_container">
  <iframe src="https://www.youtube.com/embed/youtubeID" frameborder="0" allowfullscreen="false"> </iframe>
</figure>

[2020-09-05 17:22] Lednerb commented on #251
To be clear:

You want to add the `iframe` tag directly into the content area and are not (only) using the `video` post type to include the video to your article?

[2020-09-05 22:59] Aldhanekaa commented on #251
Yeah, I mean that

[2020-09-05 23:34] Aldhanekaa commented on #251
Yeah, actually, I didn't use video post type, I just add the iFrame tag to the article type.
I use it like this:
---
# front frame article post
---

<figure class="video_container">
  <iframe src="https://www.youtube.com/embed/enMumwvLAug" frameborder="0" allowfullscreen="true"> </iframe>
</figure>

[2020-09-07 03:04] igor-baiborodine opened #252 "Table of contents is generated but hidden"
I created a shortcode named **layouts/shortcodes/toc.html**:

[code]

Then I added an article named **content/article/toc-bug.md** to test the toc shortcode:

[code]

The table of contents is not displayed but the DOM contains the corresponding **nav** element:

![image](https://user-images.githubusercontent.com/1027701/92344367-42841580-f094-11ea-875b-fb44a43307d9.png)

GitHub repository: https:/

[2020-09-09 16:08] igor-baiborodine commented on #143
@Lednerb
I will implement this feature and fix issue #252 at the same time.

[2020-09-09 16:09] igor-baiborodine commented on #252
@Lednerb
I will fix it while implementing the Table of Contents feature.

[2020-09-10 22:56] igor-baiborodine opened #253 "Title is emtpy for indexed page with the status type"
Shouldn't be a page excluded from indexing when its type is status? Since such pages have no titles by default, the search results are displayed as empty rows that are still clickable.

https://kiroule.com

![algolia-search-status-posts](https://user-images.githubusercontent.com/1027701/92819883-46b37a00-f397-11ea-8749-24814654edcc.gif)

[2020-09-11 14:06] Lednerb commented on #253
Hey @igor-baiborodine

you're right, the `status` post type should not be indexed for the search feature.

[2020-09-11 14:36] igor-baiborodine commented on #253
@Lednerb
Ok, I will fix it.

[2020-09-13 10:36] #253 closed

[2020-09-16 09:27] gio-remo opened #256 "Header overlapping"
First of all, my compliments for your work.

I noticed that in the header, with long title/subtitles, the toggler and the language chooser overlap over them.

I leave you an example. How could it be solved? 🤔
Thanks in advance :)

![example](https://user-images.githubusercontent.com/45832157/93318756-5c012c00-f80f-11ea-94a7-8d3ed1b40453.jpg)

[2020-10-06 11:40] #143 closed

[2020-10-06 11:43] #252 closed

[2020-10-30 16:06] Lednerb commented on #251
Should be fixed by #262

Please update your theme with the latest one from the `master` branch and checkout the updated docs:
https://github.com/Lednerb/bilberry-hugo-theme#Videos

Thanks to @igor-baiborodine

[2020-10-30 16:06] #251 closed

[2020-10-30 16:08] Lednerb commented on #241
It seems that https://percy.io/ would be a good integration for this.

[2020-11-08 20:31] timatlee opened #263 "_index.md are not included?"
I have been trying to include some preamble for categories and tags, but finding that the theme doesn't seem to include the content from these files.

Referencing https://gohugo.io/templates/lists/#add-content-and-front-matter-to-list-pages

Using the `ananke` theme, my content directory can be structured as:
[code]

The content of `page/_index.md` gets rendered at the top of the list of `post`s,

[2020-12-20 12:01] EvilOlaf opened #267 "Make hyperlinks more obvious"
Hey there,

I really enjoy this theme so far. Terrific job.

As an improvement I would like to make clickable hyperlinks more obvious because at the moment they are italic only and change color on mouse over.
I would like to change it in a way to have links always be shown in the hover color but I have to admit that I have no clue about CSS and such things. I assume the necessary changes need to b

[2021-01-22 09:17] uPagge opened #268 "Lost dependencies"
Hi

Where can you find these files?

![изображение](https://user-images.githubusercontent.com/40397740/105471327-aa39a680-5cab-11eb-8489-57b8ea589ae6.png)

[2021-01-25 09:27] Lednerb commented on #268
You have to `npm install` the dependencies if you want to modify the CSS.

Further information:
https://github.com/Lednerb/bilberry-hugo-theme#Custom-colors-and-fonts

[2021-01-25 09:27] #268 closed

[2021-01-25 10:56] uPagge commented on #268
thank you

[2021-02-01 14:06] uPagge opened #269 "Gellery"
![изображение](https://user-images.githubusercontent.com/40397740/106468954-a7129780-64af-11eb-9218-a2fb744b2b49.png)

I beg your pardon, I'm not good at hugo.

Therefore, I don’t understand in what case we fall into the last condition.

[2021-02-02 08:41] Lednerb commented on #269
The last condition (Line 29) will be used if you create an article with the  `gallery` post type and set `imageSlider: false` in the article's frontmatter configuration.

[2021-02-02 20:33] uPagge opened #270 "[Feature] Custom audio file support"
I wanted to ask another question.

Here you can add your video, your file. And you can also add audio, file?

[2021-02-04 10:09] Lednerb commented on #270
At the moment there is no custom audio implementation.

The [`audio` post type](https://github.com/Lednerb/bilberry-hugo-theme/blob/master/layouts/partials/content-type/audio.html) has to be rewritten like the [`video` post type](https://github.com/Lednerb/bilberry-hugo-theme/blob/master/layouts/partials/content-type/video.html) was done with the help of the [`video-embed.html` partial](https://gi

[2021-03-02 14:41] uPagge opened #271 "Update the Search Index"
Hello

As I understand it, the automatic update script will add new entries to the index, but it does not completely replace the previous file.

What I'm talking about: I had an article and I renamed it and moved it to another folder. As a result, in my search now it seems like two articles, a new and an old one.

You can somehow modify the script, I'm just not good at Pyrhon

[2021-03-02 15:18] uPagge commented on #271
Perhaps this will suit me

https://www.algolia.com/doc/api-reference/api-methods/replace-all-objects/

`index.replace_all_objects (indices)`

[2021-03-02 16:08] uPagge commented on #271
Yes, it seems to work. I think this is the best use case.

[2021-03-02 16:08] #271 closed

[2021-03-13 12:54] #269 closed

[2021-03-13 12:54] uPagge commented on #269
thank

[2021-03-15 09:29] anampopa opened #273 "Redirecting external links in new tab"
Great work with the bilberry theme. Very intuitive. I am using it to build a blog and I have a question. Should the hrefTargetBlank = true in config.toml do the job for redirecting external link in new tab?
I also tried [link](url){:target="_blank"} and embedding html syntax but this doesn't do the trick.
I try to do this in articles. What am I missing, can you please help me with this?

[2021-04-12 10:13] Sp-cy commented on #168
This issue hasn't been fixed. Twitter is extracting what it can from the OpenGraph values but it's lacking proper twitter card support. Here is the <head> tag in your same link. There is none twitter card values.
![image](https://user-images.githubusercontent.com/68587155/114378369-40fc5d80-9b4d-11eb-81b4-460b5ff55224.png)

A page with twitter cards implemented would look like this:
![image](https

[2021-05-26 19:04] aoudiamoncef opened #284 "[Feature] Add support for Utterances comments"
Hi,

I tried to add support [Utterances](https://utteranc.es/) comments.

I'm waiting for feedback

Thanks

[2021-05-27 08:56] aoudiamoncef opened #286 "[Feature] Add better support for Asciidoctor"
Hi,

I tried to switch Markdown to Asciidoctor for creating content, but I got a small issue with code snippet rendering.

I got an issue when I added Asciidoctor extensions in `config.toml` file, but I think that it's related to Hugo...

Thanks

[2021-06-08 22:10] #286 closed

[2021-11-05 21:34] igor-baiborodine opened #294 "Outdated info in Hugo theme catalog"
There is outdated info in the description for the Bilberry Hugo Theme in the Hugo theme catalog: https://themes.gohugo.io/themes/bilberry-hugo-theme/
![image](https://user-images.githubusercontent.com/1027701/140581162-ed4617b8-c398-4629-8826-25478343c3b4.png)

[2021-11-05 21:42] igor-baiborodine commented on #294
Proposed solution:
1. Go modules in the the https://github.com/gohugoio/hugoThemesSiteBuilder repository requeres tags that prefixed by `v`: https://github.com/gohugoio/hugoThemesSiteBuilder/blob/ecf3de73fc764df8ddb26d34aa6e6e7d3e652fe3/cmd/hugothemesitebuilder/build/go.mod. Therefore, any new Git tags should be prefixed with `v`.
2. Add the config.toml file with supported Hugo versions.
3. Update

[2021-11-05 21:46] igor-baiborodine opened #295 "Add Bilberry theme to Jamstack themes catalog"
Add Bilberry theme to Jamstack themes catalog: https://jamstackthemes.dev/ssg/hugo/
How to submit a theme: https://github.com/stackbit/jamstackthemes#submit-a-theme

[2021-11-10 12:19] igor-baiborodine commented on #294
Fixed.
![image](https://user-images.githubusercontent.com/1027701/141111913-127ddc4e-157b-45d2-b3c4-abfe270fdd09.png)

[2021-11-10 12:19] #294 closed

[2021-11-10 12:56] igor-baiborodine commented on #273
Hi Ana,

RE: _Should the hrefTargetBlank = true in config.toml do the job for redirecting external link in new tab?_
It will not work. Since v0.62.0, Hugo switched to the Goldmark markdown renderer, which does support such behavior out of the box.
Therefore, since the BlackFriday renderer is no longer the default renderer, this configuration will be ignored.:
[code]
For more details, please see th

[2021-11-17 13:24] igor-baiborodine commented on #273
Hi Ana,

The theme's config.toml file was updated with pull request https://github.com/Lednerb/bilberry-hugo-theme/pull/297.

I tested the raw HTML feature at [Bilberry Sandbox](https://www.bilberry-sandbox.kiroule.com/article/test-raw-html/).

Please see the corresponding [markdown file](https://github.com/igor-baiborodine/bilberry-hugo-theme-sandbox/blob/9226113d2aaec57002e1b7664f1fc547759dfc1c/

[2021-11-17 13:24] #273 closed

[2021-11-26 13:02] igor-baiborodine commented on #270
Closed with PR https://github.com/Lednerb/bilberry-hugo-theme/pull/299

[2021-11-26 13:02] #270 closed

[2021-11-29 14:02] igor-baiborodine commented on #295
The theme was added to the Jamstack themes catalog: https://jamstackthemes.dev/theme/bilberry-hugo-theme/

[2021-11-29 14:02] #295 closed

[2021-11-29 22:02] igor-baiborodine opened #300 "README.md revision"
1. Revise README.md content.
2. Proofread with Grammarly.

[2021-11-30 03:38] ohmykreee opened #301 "Giscus comments doesn't work properly"
### Version I use
* bilberry-hugo-theme https://github.com/Lednerb/bilberry-hugo-theme/commit/89875278e4403a3702cc1d28e17bf31cbcae83ab
* hugo v0.83.1-5AFE0A57

### Phenomenon
Giscus iframe doesn't show up properly.
![image](https://user-images.githubusercontent.com/76862878/143979196-f8a80b3f-8253-4ea4-8631-2d204314f316.png)
(Text in this picture means: giscus.app refuse to connect.)

Errors in th

[2021-11-30 04:28] ohmykreee commented on #301
I find the causes.

`{{ if isset .Site.Params "giscusLanguage" }}` should be `{{ if isset .Site.Params "giscuslanguage" }}`. The `L` should be lower-cased, basing on this Hugo document [isset | Hugo](https://gohugo.io/functions/isset/):

But I still think there is no need to write a if condition and directly accessing the value just fine. What do you think?

[2021-11-30 17:38] igor-baiborodine commented on #301
@ohmykreee, here is what happened in your case. Since `{{ if isset .Site.Params "giscusLanguage" }}` didn't work because of the bug, it continued with the `else` and used the value `zh_cn` defined by the `DefaultContentLanguage` setting in the `config.toml` file. But language/locale codes supported by Giscus are case-sensitive, i.e., `zh_cn` does not equal to `zh_CN`, the Giscus `iframe` was not l

[2021-12-01 13:13] igor-baiborodine commented on #301
@ohmykreee, fixed with PR https://github.com/Lednerb/bilberry-hugo-theme/pull/302

[2021-12-01 13:13] #301 closed

[2021-12-03 23:29] igor-baiborodine commented on #300
Closed with PR https://github.com/Lednerb/bilberry-hugo-theme/pull/303

[2021-12-03 23:29] #300 closed

[2021-12-10 13:40] igor-baiborodine commented on #147
Resolved with PR https://github.com/Lednerb/bilberry-hugo-theme/pull/305

[2021-12-10 13:40] #147 closed

[2021-12-14 13:23] igor-baiborodine opened #307 "Line element is different in Archive page"
The line element in the Archive page is different from the line element used in other pages or posts.

About page:
![image](https://user-images.githubusercontent.com/1027701/146006278-5bb46d88-79de-4adf-8d72-365a9463c3be.png)

Archive page:
![image](https://user-images.githubusercontent.com/1027701/146006433-ca691cb0-6e70-41da-8f4e-1286cfe6ce34.png)

[2021-12-14 13:36] igor-baiborodine commented on #307
Closed with commit https://github.com/Lednerb/bilberry-hugo-theme/commit/88b36bf61023d9022731dcd3ee82760da964fbc2

[2021-12-14 13:36] #307 closed

[2021-12-14 18:22] igor-baiborodine commented on #263
@timatlee, that is correct. `_index.ntml` is ignored because of the current implementation of the [list template](https://github.com/Lednerb/bilberry-hugo-theme/blob/v2.8.0/layouts/_default/list.html).

I made a quick test with the Bilberry Sandbox. I modified the `list.html` template to include the content of the `_index.html` file and to list items the same way as they are listed in the archive

[2021-12-17 13:26] igor-baiborodine opened #310 "Long title/subtitle overlaps header"
When the title and/or subtitle is too long, the height of the header is not automatically adjusted.

![image](https://user-images.githubusercontent.com/1027701/146551226-df1f2fc1-6d4e-4229-b8e0-5d91ea43b0cf.png)

[2021-12-21 22:05] igor-baiborodine commented on #310
Fixed with PR https://github.com/Lednerb/bilberry-hugo-theme/pull/320

[2021-12-21 22:05] #310 closed

[2021-12-22 13:13] igor-baiborodine commented on #310
Tested with Bilberry Sandbox:

https://deploy-preview-11--bilberry-sandbox.netlify.app/

[2022-01-29 21:54] Defite opened #341 "featuredImage for local images"
Subj, not working.

My structure is as follows:

[code]

in `some-link.md` I have:

[code]

Bug: the image is not showing.

[2022-01-31 13:35] igor-baiborodine commented on #341
@Defite, internal images should be stored in the `static` folder.

Please see this working example:
https://www.bilberry-sandbox.kiroule.com/link/
https://github.com/igor-baiborodine/bilberry-hugo-theme-sandbox/blob/master/content/link/test-link-with-featured-image.md
https://github.com/igor-baiborodine/bilberry-hugo-theme-sandbox/blob/master/static/img/content/link/duckduckgo-featured-image.png

[2022-01-31 13:35] #341 closed

[2022-02-01 08:36] Defite commented on #341
Ah, ok, thanks!

[2022-02-08 13:09] igor-baiborodine opened #344 "Not able to retrieve the latest version of the theme as a Hugo module"
Currently, the latest release is at v2.13.0. But when trying to fetch the theme as a Hugo module, the only available version is v2.10.0, which is the last version released before migration to Hugo modules.

[code]
![image](https://user-images.githubusercontent.com/1027701/152993384-c7e9f15d-0aea-4934-bf86-f11f40b48d32.png)

![image](https://user-images.githubusercontent.com/1027701/152994000-d330f

[2022-02-14 13:18] igor-baiborodine commented on #344
It looks like the major version was supposed to be bumped to v3 when the Hugo module was introduced.
For more details, see this doc: https://github.com/golang/go/wiki/Modules#releasing-modules-v2-or-higher.

[2022-02-14 16:38] Lednerb commented on #344
I also think there is no problem with switching to v3, you can bump the major version.

[2022-02-15 18:32] darrenaddy opened #348 "No images or video (as in demo site) - except avatar image and rollover image"
Firstly, thank you for this wonderful theme. I love all of the example content that comes with it. I'm relatively new to Hugo (couple of months) and have experimented with a number of different themes to see how different people do things. THIS is the one I plan to deploy as my actual blog.

I realize that you JUST updated to v3.0.0 so perhaps this is a bug in the new version?

Now to the issue:
I

[2022-02-15 18:40] igor-baiborodine commented on #348
@darrenaddy, Is it possible to publish your test website as a repository in your GitHub account? Then it will be easier for me to debug it in my local dev.

[2022-02-16 12:42] igor-baiborodine commented on #344
Fixed with commit [7eb2b347](https://github.com/Lednerb/bilberry-hugo-theme/commit/7eb2b347f82fc83361cfa18eb1b3424aabd3fabd) and bumping the major version to `v3`:
![image](https://user-images.githubusercontent.com/1027701/154266280-c6f7ae20-64a2-4192-90fe-0632a047f916.png)

[2022-02-16 12:42] #344 closed

[2022-02-16 12:43] igor-baiborodine commented on #348
I'm converting this issue into a discussion.

[2022-02-16 12:44] #348 closed, assigned to igor-baiborodine

[2022-02-16 12:46] igor-baiborodine opened #350 "Archive page is displayed on the main index page"
The archive page should not be displayed on the main index page:
![image](https://user-images.githubusercontent.com/1027701/154267444-4f963a8e-c4ae-42fb-946d-17fa1a02aec5.png)

[2022-02-16 13:22] igor-baiborodine commented on #350
Fixed with PR https://github.com/Lednerb/bilberry-hugo-theme/pull/352.

[2022-02-16 13:22] #350 closed

[2022-02-18 13:24] igor-baiborodine opened #354 "Icons are not displayed when website is created using Bilberry theme as a Hugo module"
Icons are not displayed when a website is created using the Bilberry theme as a Hugo module. The same issue persists when an existing site is converted to Hugo modules.

1. Bilberry Sandbox converted to Hugo modules: https://deploy-preview-18--bilberry-sandbox.netlify.app/

2. New web site created in my local dev:
![image](https://user-images.githubusercontent.com/1027701/154690562-f6bc9f50-f158-4

[2022-02-21 13:26] igor-baiborodine commented on #354
When compared with deployment from master for the Bilberry Sandbox the `fonts/vendor` is missing:

![image](https://user-images.githubusercontent.com/1027701/154963909-0874e6d2-e32d-400a-8407-8dba286fef5f.png)

![image](https://user-images.githubusercontent.com/1027701/154963983-ebd739f1-1629-4e28-8a43-e06a7f4097b8.png)

[2022-02-23 12:04] deining commented on #354
This is due to a [known bug](https://github.com/golang/go/issues/37397) in go's module management. Unfortunately, this bug won't fix. I will check if I can come up with a fix here, I will have a look at this shortly.

[2022-02-25 08:59] nidomiro opened #359 "Code with linenumbers is not displayed properly"
If you use the following code in a post the result looks strange and highlighting lines does not work.

[code]

Result:

![image](https://user-images.githubusercontent.com/15079172/155685864-23d72bb1-02d2-4af4-b068-9f22e4024cb2.png)

The hugo feature is described here: https://gohugo.io/content-management/syntax-highlighting/#highlighting-in-code-fences

[2022-02-25 14:16] deining opened #360 "Produce valid html"
**Check of billberry demo with [W3C validation service](https://validator.w3.org/nu/?doc=https%3A%2F%2Flednerb.github.io%2Fbilberry-hugo-theme%2F):**

Several errors are reported:

- A document must not include more than one meta element with its name attribute set to the value description.
- Stray end tag div.
- ...

Were great if these errors (and maybe also the warnings) could be fixed.

[2022-03-03 19:37] Lednerb commented on #359
This hugo theme actually does not use the built-in code highlighting but the `highlight.js` library.

It should be evaluated if the built-in functions will be a better fit nowadays.

[2022-03-03 19:44] igor-baiborodine commented on #359
The line numbers feature is not implemented in `highlight.js`:
https://highlightjs.readthedocs.io/en/latest/line-numbers.html

[2022-03-03 20:19] igor-baiborodine commented on #359
Regarding this issue, I created a new discussion in the **Ideas** category: https://github.com/Lednerb/bilberry-hugo-theme/discussions/362

[2022-03-03 20:19] #359 closed

[2022-03-08 17:18] darrenaddy opened #365 "video shortcut (type="youtube") doesn't load video"
Can someone tell me if I am doing something wrong or if there is an issue here?

The README.md says:
`The second option is to use the video shortcode within markdown content in a post of the **article** type as follows:

{{< video type="youtube" id="<youtube-video-id>" >}}
`

SO, to try this, I create a new article using:
`hugo new content/article/my-article-with-video.md`

It looks like this:
`--

[2022-03-08 20:12] igor-baiborodine commented on #365
@darrenaddy, do you test it in your local dev? To set up your website, did you use the Quick Start guide from the README documentation?

[2022-03-08 22:43] darrenaddy commented on #365
Yes, I used the Quick Start guide from the README to set up.
If by testing "in your local dev" you mean starting the server and running it in localhost:1313 - then yes. That is what I'm trying to get to work. The content type "video" is working fine for YouTube videos.

The shortcode for video in the **article** content type is what is not working.

I am just trying to learn **Hugo as a SSG** befo

[2022-03-09 03:40] igor-baiborodine commented on #365
@darrenaddy, May I ask you to clone the Bilberry Sandbox repository into your local dev and start it with the `hugo server` command?
[code]

Then check if the following article with the YouTube video is displayed correctly: http://localhost:1313/article/test-youtube-video-in-article-post/

It should be displayed as follows: https://www.bilberry-sandbox.kiroule.com/article/test-youtube-video-in-art

[2022-03-10 21:47] #360 closed

[2022-03-13 16:06] h0gan1ee opened #372 "Responsive layout is not ideal"
We've forked the theme and fix the problem. Maybe you can use our solution.

The forked theme: https://github.com/hitszlug/bilberry-hugo-theme

This site uses the forked theme: https://weekly.hitsz.org

For comparison:
![IMG_20220314_000336.jpg](https://user-images.githubusercontent.com/39949564/158068382-2fd94663-14a9-4444-a10f-4841c61590bf.jpg)
![IMG_20220314_000428.jpg](https://user-images.gith

[2022-03-13 16:11] h0gan1ee commented on #372
## Problems

### Header

- Not enough padding.
- Buttons are too close to text.
- Text and icon are too big and not vertically aligned.

### Footer

- Not horizontally aligned.
- Gutters are too small.
- Padding is inconsistent.

### Article

- Card view should be replaced. Otherwise it should have enough margin.

### Navigation Bar (Column)

- Not enough padding.

[2022-03-13 16:17] h0gan1ee opened #373 "Colours in use are inconsistent to theme colours"
While modifying the style sheets of this theme to derive a new theme, I found many unnecessary explicitly defined colours.

I am sorry that I couldn't point out all of them, but you might take a look at our forked theme (https://github.com/hitszlug/bilberry-hugo-theme), which addressed most of the problems.

[2022-03-13 16:21] h0gan1ee opened #374 "Dead SCSS code found"
Again, when I messing around with the theme, I found various dead style declaration which has no effects.

I didn't make a list of them, but they should be reflected on the commits of [our forked theme](https://github.com/hitszlug/bilberry-hugo-theme).

[2022-03-13 20:47] igor-baiborodine commented on #372
@h0gan1ee, let me check the changes you made in your fork and see if we can incorporate them.

[2022-03-15 13:40] RoneoOrg commented on #374
Hi @h0gan1ee and thanks for the tip.
The [comparison](https://github.com/Lednerb/bilberry-hugo-theme/compare/master...hitszlug:master) shows a lot of noise though, did you use a code formater?

[2022-03-15 13:47] RoneoOrg opened #376 "Overwriting SCSS the right way?"
Hi there,

overwriting theme files in Hugo use to be done by editing a copy of this file at the root of the project.

But for Bilberry, SCSS files are updated by [running a npm command](https://github.com/Lednerb/bilberry-hugo-theme#custom-colors-and-fonts) from inside the theme repo, which brings additional complexity at deploy time.

Question: is there a way to overwrite these SCSS files while k

[2022-03-15 14:32] RoneoOrg opened #378 "Search form is hijacking the keyboard"
Hi,

## The problem

Bilberry provides a search form, and using the keyboard triggers this form and steals the focus.

This is a problem for two reasons:
- keyboard users are annoyed (#a11y)
- search does not work out-of-the-box (as an Algolia token is required AFAIK) and this theme seems broken

## Proposal

Disable this form by default

I can submit a PR

[2022-03-16 07:10] RoneoOrg commented on #378
Done, see https://github.com/RoneoOrg/bilberry-hugo-theme/pull/1

[2022-03-22 16:27] igor-baiborodine commented on #378
The documentation on site configuration was updated to explicitly disable the Algolia Search functionality:
![image](https://user-images.githubusercontent.com/1027701/159527394-676ad5bf-dfc5-4618-b5c2-664e993c5dac.png)

[2022-03-22 23:34] RoneoOrg commented on #378
Thanks Igor for considering this issue!

Still, even when Algolia is correctly set up, I would favor _as default_ a simple search form (i.e without automatic focus):
this behavior is super destabilizing for keyboard users. (Note that I don't have any dataset to support my point here 😅 -- hence closing this issue, I'll just tweak it on my side!)

Your write-up is crystal clear BTW, Thanks!

[2022-03-22 23:40] igor-baiborodine commented on #365
@darrenaddy, please provide a sequence of steps to reproduce it in my local dev. Otherwise, I will close this issue.

[2022-03-22 23:41] igor-baiborodine commented on #372
I did my best to filter out all the relevant commits in your fork. Therefore, closing this issue.

[2022-03-22 23:41] #372 closed

[2022-03-22 23:42] igor-baiborodine commented on #373
I did my best to filter out all the relevant commits in your fork. Therefore, closing this issue.

[2022-03-22 23:42] #373 closed

[2022-03-22 23:42] igor-baiborodine commented on #374
I did my best to filter out all the relevant commits in your fork. Therefore, closing this issue.

[2022-03-22 23:42] #374 closed

[2022-03-22 23:50] igor-baiborodine commented on #378
This issue is still legit, it should not steal the focus. I'm re-opening this issue. I'll try to fix it.

[2022-03-24 00:16] igor-baiborodine commented on #378
Fixed in PR https://github.com/Lednerb/bilberry-hugo-theme/pull/380.

[2022-03-24 00:16] #378 closed

[2022-03-26 12:41] #365 closed

[2022-03-27 06:42] RoneoOrg commented on #378
Confirmed, thanks!

[2022-04-02 16:25] vilchezdanny opened #384 "Languages are different on English page."
Language abbreviations are different on the English page versus the other pages.

My config.toml file
[code]

English selected
![image](https://user-images.githubusercontent.com/50976184/161392044-f2b07b79-1d58-4456-965a-8e51ab80d023.png)

Spanish selected
![image](https://user-images.githubusercontent.com/50976184/161392069-b03f0176-830e-4f48-8b7d-a94a335b94f6.png)

Portuguese selected
![image](h

[2022-04-04 12:25] igor-baiborodine commented on #384
@vilchezdanny, I tried to reproduce the bug with the Bilberry Sandbox, but everything works as expected: https://deploy-preview-22--bilberry-sandbox.netlify.app/

config.toml: https://github.com/igor-baiborodine/bilberry-hugo-theme-sandbox/blob/isssue/384-language-selector-differences/config.toml

[2022-04-14 02:25] hexsix opened #386 "[Feature Request] Add support for Google Analytics v4"
Now Google Analytics v4 is created by default.

[https://gohugo.io/templates/internal/#google-analytics](https://gohugo.io/templates/internal/#google-analytics)

[2022-04-21 15:36] EvilOlaf commented on #354
I assume there is no other solution for this issue? The renaming did not do the trick for me :(

[2022-04-21 16:07] EvilOlaf commented on #354
Not sure if I find time to do that but basically what I did was to rename the `/static/fonts/vendor/` folder to `/static/fonts/_vendor/` and used `sed` to replace all `vendor` with `_vendor` in `theme.css`.

Would be nice if somebody could verify this as a fix.

[2022-05-19 12:02] igor-baiborodine opened #391 "Categories and Social Media containers not centered in responsive mode"
Categories and Social Media containers are not centered in responsive mode:
![image](https://user-images.githubusercontent.com/1027701/169288712-f6538a22-fa03-4b73-bd52-91ec8b21a38d.png)

[2022-05-19 12:18] #391 closed

[2022-05-27 12:16] igor-baiborodine commented on #354
Closed with PR #394

[2022-05-27 12:16] #354 closed

[2022-05-27 13:03] derrygeoff opened #395 "adding a fabform.io contact page"
Hello

Is there anyway you can add a https://fabform.io contact form to your theme?

Geoff
https://fabform.io

[2022-05-27 14:49] igor-baiborodine opened #398 "Icons are not displayed for the demo site after merged PR #394"
Icons are not displayed for the demo site after merging PR #394:

![image](https://user-images.githubusercontent.com/1027701/170722682-ef355bef-c916-40f9-a982-a448b84d9b10.png)

However, both my websites deployed on Netlify display icons correctly:

![image](https://user-images.githubusercontent.com/1027701/170723141-59700e98-ec1a-4e1d-b87d-94c821d8e965.png)

![image](https://user-images.githubuse

[2022-05-27 21:14] igor-baiborodine commented on #398
Here is the solution:

![image](https://user-images.githubusercontent.com/1027701/170790240-25ed9968-039d-4846-b549-b671c3a22177.png)

[2022-05-27 21:24] #398 closed

[2022-06-03 17:30] igor-baiborodine opened #403 "Outdated info about the theme is displayed on themes.gohugo.io and jamsstackthemes.dev sites."
After releasing `v3` version the info displayed on [themes.gohugo.io](https://themes.gohugo.io/themes/bilberry-hugo-theme/) and [jamsstackthemes.dev](https://jamstackthemes.dev/theme/bilberry-hugo-theme/) is outdated:

![image](https://user-images.githubusercontent.com/1027701/171915999-6f33cabe-e38b-46bd-8857-f5da1bf34f21.png)

![image](https://user-images.githubusercontent.com/1027701/171915841-

[2022-06-03 20:10] igor-baiborodine commented on #403
**themes.gohugo.io**: Submitted the following [PR](https://github.com/gohugoio/hugoThemesSiteBuilder/pull/155).
PR preview: https://deploy-preview-155--hugothemes.netlify.app/themes/v3/

[2022-06-03 20:32] igor-baiborodine commented on #403
Submitted the following [PR](https://github.com/stackbit/jamstackthemes/pull/326) for jamstackthemes.dev.
PR preview: https://deploy-preview-326--jamstackthemes.netlify.app/theme/bilberry-hugo-theme/

[2022-06-03 21:05] igor-baiborodine commented on #403
Here is another issue with the themes.gohugo.io: https://github.com/gohugoio/hugoThemesSiteBuilder/issues/156

[2022-07-06 15:43] contributorpw opened #408 "How can I start to develop?"
Hi there!

I see the repo has cool tools and settings for develop. But now I can't how can I start to develop?

As for me I have to run `$> hugo serve --themesDir ./../.. --theme bilberry-hugo-theme` for preview. I think I do something wrong. Is any tutorial or a cheatsheet to start view develop of this theme?

[2022-07-29 08:21] metbril opened #414 "Relative path to featured image in page bundle not working"
I use page bundles for my articles. The featured image is applied through front matter. The theme currently supports this with the `featuredImage` front matter parameter.

When adding the front matter, my featured image is not shown as expected.

Both `featuredImage: some-image.jpg` and `featuredImage: ./some-image.jpg` are rendered as `<img src="/some-image.jpg" alt="">`.

My expectation is, that

[2022-07-29 12:09] igor-baiborodine commented on #414
@metbril, could you please confirm that the main issue here is that the featured image, defined via the front matter variable `featuredImage` with a relative path in a page bundle, is not shown **at all**?

[2022-07-29 18:56] igor-baiborodine commented on #414
@metbril, in README, I added a new section named [Featured Image](https://github.com/Lednerb/bilberry-hugo-theme/tree/update-readme#featured-image):

![image](https://user-images.githubusercontent.com/1027701/181825178-e936a49c-3ca0-4472-9328-5e1016901c10.png)

In your case, the image path is not relative to the base URL. That's why it is not working. When using the page bundle, you can use the `f

[2022-07-29 18:56] #414 closed

[2022-07-31 21:44] igor-baiborodine commented on #414
@metbril, you can read more on the `relUrl` function [here](https://gohugo.io/functions/relurl/).

As for the relative URLs in your particular case, you can set the `relativeUrls` property to `true` in your configuration file to rewrite all relative URLs to be relative to the current content. Here is the Hugo [documentation](https://gohugo.io/functions/relurl/) on this property.

I made a quick te

[2022-08-12 12:41] #403 closed

[2022-08-13 22:12] igor-baiborodine opened #425 "Status post is not displayed correctly"
When using Hugo v.0.89.0 and the Bilberry Hugo theme as a Hugo module, the status post is not displayed correctly, i.e., the `status.html` partial is not used:

![image](https://user-images.githubusercontent.com/1027701/184512592-e1ea85ba-8386-4668-82b3-679a8c0c2c0b.png)

![image](https://user-images.githubusercontent.com/1027701/184512982-a0514788-a0ff-49d7-9d2d-e81785cae5af.png)

[2022-08-13 22:16] igor-baiborodine commented on #425
After testing different Hugo versions, I discovered that the `v0.93.3` version fixes the issue. Therefore, the minimum Hugo version should be upgraded accordingly.

[2022-08-13 22:25] igor-baiborodine commented on #425
Fixed with commit https://github.com/Lednerb/bilberry-hugo-theme/commit/31404c6404d5dc674ff93869f77191588d947677.

[2022-08-13 22:25] #425 closed

[2022-08-17 06:14] budimanjojo opened #429 "Per post `showReadingTime` param?"
Hello, I want `showReadingTime` is true by default, but I don't want all pages to show reading time. Is there a reason to not letting the post to override this param?
https://github.com/Lednerb/bilberry-hugo-theme/blob/31404c6404d5dc674ff93869f77191588d947677/layouts/partials/default-content.html#L17
Maybe something like this?
[code]
Thanks before.

[2022-08-17 06:19] budimanjojo commented on #429
Sorry about the code, maybe u guys have a better knowledge on how to implement the code, because my code will not work in situation where the user set global `showReadingTime` to `false` but want to override the post param to `true`.

[2022-10-27 15:01] metbril opened #435 "FR: Short name for long page titles in topnav"
I use long titles for my pages. And I have multiple. Those all appear in the topnav, which get crowded like this. For example, I have a page '/now' with the title 'What I am doing now' and a '/contact' page titled 'How to contact me'.

Other themes allow me to have a 'name' parameter with the short name. This short name is used in the menus, where the title can be used to show at the top of the pa

[2022-10-27 15:43] metbril commented on #435
After reviewing the code, I noticed that the theme does not use the standard Hugo way for menus. The fix would be to add a frontmatter parameter `name:` to the page like this:

[code]

and then replace one line in the `topnav.html` partial from

[code]

to

[code]

[2022-10-28 20:39] igor-baiborodine commented on #435
@metbril, I'm moving it to Discussions/Ideas since it should be considered an enhancement.

[2022-11-06 19:08] KHannibal opened #439 "Add Mastodon website verification setting"
Hi,

Mastodon allows users to verify a website that is linked in their profile in order to show that it is owned by them. This can be done by adding a link on their website that contains a `rel="me"` attribute.

More info in Mastodon's documentation (bottom of the page) : https://docs.joinmastodon.org/user/profile/#fields

It would be nice if Bilberry allowed users to verify their site in a conven

[2022-11-07 12:06] igor-baiborodine commented on #439
@KHannibal, moving to [Discussions/Ideas](https://github.com/Lednerb/bilberry-hugo-theme/discussions/categories/ideas).

[2022-11-14 05:05] tvories opened #444 "Custom Site-Width"
It's been a while since https://github.com/Lednerb/bilberry-hugo-theme/issues/155 was opened and I wanted to see if it were possible to provide an override to set the site width to something larger than 800px.  I know I can override it with the SASS, but is something like this possible to set up without having to customize the theme?